<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 13優秀青年：如果我是……
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 13優秀青年：如果我是……
								.paragraph
									
								img(src="../images/13-young-achieves-s3-1.jpg" alt="").normal.center
								.paragraph
									| 
									strong 馬師浩醫生
									| 
									br
									| 威爾斯親王醫院副顧問醫生（內科及藥物治療學系）
									br
									br
									| 
									strong 你會以甚麼食物形容自己？
									| 
									br
									| 珍珠奶茶裏的珍珠——總是黑漆漆的沉在杯底不起眼，卻為整杯飲品的味道提升一個層次（雖然偶然會卡住飲管）
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 除周啟明醫生和梁慧康教授外，對我最具啓發性的有心人是我太太。每次和她行山，她都不肯往山頂前進，總說「山頂風景並不是最美，一起走的每一段路才最精彩，還有山腰涼亭的豆腐花才是最美（味）。」這提醒了我即使中風病人做完手術，也有太多不可控因素，令他們康復進度未如理想，我們陪著病人一起走過的路也很重要。雖然無法承諾病人一定可以完全康復，但必定會盡全力幫助他們。
									br
								img(src="../images/13-young-achieves-s3-2.jpg" alt="").normal.center
								.paragraph
									| 
									strong 黃偉龍
									| 
									br
									| 屯門醫院一級行政助理 （聯網人力資源部）
									br
									br
									| 
									strong 你會以甚麼食物形容自己？
									| 
									br
									| 平安包——加入不同餡料，蒸到脹卜卜之後，能讓人飽足；也取其寓意，職安健工作旨在確保同事工作平安。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 我師父李紹強對我的人生和事業影響深遠。他視我為徒弟般教導，用行動實踐職安健團隊的使命。例如疫情初期，他帶領團隊上門替同事做口罩面型配合測試，更在工餘時查考不同文章，教我箇中技巧及背後原理，確保前線佩戴合適防護裝備。過程中難免遇到困難，但能夠成為前線抗疫的「平安包」，我非常有成功感！
									br
								img(src="../images/13-young-achieves-s3-3.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong 鄭正禧醫生
									| 
									br
									| 基督教聯合醫院副顧問醫生（兒童及青少年科）
									br
									br
									| 
									strong 你會以甚麼食物形容自己？
									| 
									br
									| 白米——有無限的發揮空間，蒸、煮、炒、焗樣樣皆能，能令其他同伴更突出，各顯所長。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 三年前，一名患有脊椎性肌肉萎縮症的女孩被送到兒童深切治療部，須用呼吸機、強心藥和抗生素維生。幸而她慢慢恢復過來，在準備拔喉那天寫下：「縱使我要開個洞來呼吸、只有一隻眼看這個世界，我都願意繼續生存。」她的網誌也寫著：「上天是公平的，缺陷令我更加堅強，以生命影響生命。」作為前線可以見證病人的故事，而被遺忘的一群往往最能啟發我。
									br
								img(src="../images/13-young-achieves-s3-4.jpg" alt="").normal.center
								.paragraph
									| 
									strong 林美瑩醫生
									| 
									br
									| 瑪嘉烈醫院顧問醫生（腫瘤科）
									br
									br
									| 
									strong 你會以甚麼食物形容自己？
									| 
									br
									| 蓮藕——我做事不輕易放棄，有如蓮藕絲般不易折斷。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 在我的人生中，爸爸是影響我最深的人，特別是他的自律和毅力。我就讀大學時，爸爸身體變得比以前虛弱，但依然風雨不改每天早起做運動。記得一個下著雨的冬天早上，我問爸爸：「為甚麼你能夠每天都堅持下去？」他說：「當你找到這件事的意義，就會變成推動力支持你走下去。」我在工作或人生上遇到困難時，都會想起他這番說話，提醒自己不輕易放棄。
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
