<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 13優秀青年：如果我是……
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 13優秀青年：如果我是……
								.paragraph
									
								img(src="../images/13-young-achieves-s1-1.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong 陳梓醫生
									| 
									br
									| 基督教聯合醫院副顧問醫生（內科及老人科）
									br
									br
									| 
									strong 你會以甚麼動物形容自己？
									| 
									br
									| 動畫電影《優秀大都會》中的兔仔警長朱迪——樂觀且意志堅定，世界很美好，我相信只要努力，定能帶來更好的改變。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 當我還是初級醫生時，曾短暫在腎科病房工作，腎科主管黃思豪醫生是對我影響甚深的前輩。與腎病共存是腎病患者的一大挑戰，黃醫生對每位病人都呵護備至，診症時每每充滿同理心和耐性，仔細了解病況。他的熱誠感染了我，令我立志成為一個關心病人、為他們帶來希望的腎科醫生。
									br
								img(src="../images/13-young-achieves-s1-2.jpg" alt="").normal.center
								.paragraph
									| 
									strong 陳君裕
									| 
									br
									| 北區醫院配藥員（藥劑部）
									br
									br
									| 
									strong 你會以甚麼動物形容自己？
									| 
									br
									| 動畫電影《優秀大都會》中的兔仔警長朱迪——樂觀且意志堅定，世界很美好，我相信只要努力，定能帶來更好的改變。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 當我還是初級醫生時，曾短暫在腎科病房工作，腎科主管黃思豪醫生是對我影響甚深的前輩。與腎病共存是腎病患者的一大挑戰，黃醫生對每位病人都呵護備至，診症時每每充滿同理心和耐性，仔細了解病況。他的熱誠感染了我，令我立志成為一個關心病人、為他們帶來希望的腎科醫生。
									br
								img(src="../images/13-young-achieves-s1-3.jpg" alt="").normal.center
								.paragraph
									| 
									strong 譚永輝醫生
									| 
									br
									| 瑪麗醫院副顧問醫生 （內科）
									br
									br
									| 
									strong 你會以甚麼動物形容自己？
									| 
									br
									| 馬——我做事講求速度，常提醒自己若有工作，應坐言起行馬上處理，否則積累起來更煩亂。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 我的媽媽對我的工作態度影響最深。小時候聽媽媽分享工作點滴及與朋友的相處，她經常教導我要設身處地替人設想，不論成績、學歷、地位、財富如何，每個人都有值得學習的地方。耳濡目染下，我銘記團隊工作中每一位隊友的意見都有價值，集思廣益可發揮最大潛力，一起解決問題共渡難關。
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
