<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 13優秀青年：如果我是……
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 13優秀青年：如果我是……
								.paragraph
									
								img(src="../images/13-young-achieves-s4-1.jpg" alt="").normal.center
								.paragraph
									| 
									strong 周穎思醫生
									| 
									br
									| 香港眼科醫院顧問醫生（眼科）
									br
									br
									| 
									strong 你會以甚麼物品形容自己？
									| 
									br
									| 切片機——把遺體眼角膜切薄，透過微創手術植入患者眼中，令他們重見光明。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 啟發我多年的是電影《阿甘正傳》中的主角阿甘。我和他一樣並不聰明，甚至有些缺點，但對工作充滿熱誠和堅持。我有幸能和一班志同道合的醫護、視光師和眼庫同事一起治療角膜疾病，多年來以各種治療方法、創新的移植手術來紓緩香港遺體角膜不足的情況，醫治因角膜疾病而失明的病人。
									br
								img(src="../images/13-young-achieves-s4-2.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong 羅欣珮醫生
									| 
									br
									| 東區尤德夫人那打素醫院顧問醫生（婦產科）
									br
									br
									| 
									strong 你會以甚麼物品形容自己？
									| 
									br
									| 粉彩——繪畫有助我在百忙之中靜思減壓，不同色彩仿似我多面體的性格，混合調色就如運用我的不同個性，應對生活各種挑戰。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 我很幸運爸爸以身教，教懂我在繁重的工作中尋找樂趣和滿足感。他同為婦產科醫生，啟發我在熱心服務病人時體會快樂及意義；在遇到困難時以正向思維冷靜思考。他幫助我培養不同的興趣、擴闊視野，亦提醒我保持好奇心，讓我更了解自己，也更能理解別人。
									br
								img(src="../images/13-young-achieves-s4-3.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong 廖匡平
									| 
									br
									| 北區醫院資深護師（外科）
									br
									br
									| 
									strong 你會以甚麼物品形容自己？
									| 
									br
									| 膠水——我希望能像膠水般黏合及凝聚同事，激勵大家一起向共同目標努力。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 學生時代遇過一位有心人前輩。曾有病人深夜要求下床站立，夜更人手薄弱，相信很多同事都未必答應，但前輩二話不說，便叫我一起扶病人站起來。他說 :「在我們看來不太合理的要求，對病人可能別具意義，你能明白久病臥床的人有多希望能腳踏實地嗎？」是前輩撒下同理心的種子，教導我只要力所能及，都盡量理解及滿足病人要求。
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
