<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 13優秀青年：如果我是……
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 13優秀青年：如果我是……
								.paragraph
									
								img(src="../images/13-young-achieves-s2-1.jpg" alt="").normal.center
								.paragraph
									| 
									strong 佘日峯醫生
									| 
									br
									| 瑪麗醫院副顧問醫生（內科）
									br
									br
									| 
									strong 你會以甚麼植物形容自己？
									| 
									br
									| 松樹——它代表生機盎然、堅毅、巍然屹立和積極向上的精神。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 約10年前我還是初級醫生，在瑪麗醫院老人科受訓，當時的指導醫生是時任高級醫生趙嘉俊。趙醫生提議我每逢星期四早上在記憶科門診，在旁觀察他診症。他耐心講解病例，示範不同的問症技巧，將經驗傾囊相授。那三個多月的體驗令我對老人科及認知障礙症產生莫大興趣，更選擇成為我的終身職業。
									br
								img(src="../images/13-young-achieves-s2-2.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong 蔡珊珊
									| 
									br
									| 廣華醫院助理社會工作主任（醫務社會工作部）
									br
									br
									| 
									strong 你會以甚麼植物形容自己？
									| 
									br
									| 向日葵——筆直站穩，一直面向太陽，給別人帶來希望，就像我帶著使命陪伴病人和家屬走過患病歷程，一起尋找曙光。
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 10多年前有一名年輕病人遇上了好醫生，醫生不但以專業知識對病人作出即時及適切治療，更定時向其家人詳細解釋病情和康復進度，持續關心他們的情緒和心理需要。他和團隊給予該病人一段充滿愛的人生旅程，這段經歷亦驅使我成為一名有心的醫務社工。
									br
								img(src="../images/13-young-achieves-s2-3.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong 陳宇軒醫生
									| 
									br
									| 香港兒童醫院副顧問醫生（兒童及青少年科）
									br
									br
									| 
									strong 你會以甚麼植物形容自己？
									| 
									br
									| 榕樹——感謝病人和家屬的信任，令我從一棵小樹苗茁壯成長，成為守護腎兒的榕樹，衷心感激能和樹林裏許多無私奉獻、有如大樹般可靠的醫護同事並肩作戰！
									br
									br
									| 
									strong 誰對你工作有所啟發？
									| 
									br
									| 小兒腎科「一代宗師」趙孟準教授。他開創本港兒童透析和腎移植服務，培育了以病人為本的優秀團隊。他一生服務香港、內地以至海外的腎病兒童，為他們帶來希望。他對工作和人生的熱誠，深深感動和啟發了我，令我決心投身腎科。透過研究和引入新服務，我希望讓一眾腎兒的生活重回正軌，追求夢想，度過快樂童年！
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
