<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 成就不可能的任務
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 成就不可能的任務
								.paragraph
									
								img(src="../images/care-s1-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 疫境先鋒
									| 
									br
									| 北大嶼山醫院
									br
									br
									| 用四個月建成一間醫院看似天方夜譚，但北大嶼山醫院香港感染控制中心（HKICC）團隊憑著膽大心細，成功完成了這項「不可能的任務」。
									br
									br
									| 自2021年9月接到通知後，團隊便爭分奪秒處理工程的各項環節，讓醫院盡早落成啟用。「這是一個不許延遲的任務，因為遲一日完成籌備工作，便遲一日開始救治病人。我們在一星期內敲定設計，破格採用『組裝合成』建築法加快安裝過程，縮短籌備時間。」團隊亦要克服物流和供應鏈受阻問題，四出搶購醫療及實驗室儀器。
									br
									br
									| 雖然求快心切，但團隊沒有因此而粗疏處理。「正因時間緊迫，更要細心籌劃，才能趕上進度。我們在開院前只有約五星期時間收拾病房及進行最後的查收工作，還要確認人手分工、治療方案、病人分流等細節。幸好有很多來自不同醫院的同事自願加入幫忙，互相支援，才能順利完成。」
									br
									br
									| HKICC正式啟用當天便遇上新冠肺炎群組爆發，入院人數急增，要即時加開病房。其後遇上第五波疫情，團隊迅速調整服務和運作安排。「HKICC本來主要接收臨床情況較為穩定的16至65歲病人，第五波疫情則多了很多病童，我們即時張羅兒科物資及召集有相關背景的同事幫忙，短時間內開設兒科病房。後來長者病人增多，我們又開設老人科病房，並提供復康服務，助康復長者提升身體機能。」團隊未來會繼續觀察疫情發展，靈活應對下一波挑戰。
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T6_team.pdf" target="_blank" rel="noopener noreferrer")
										| 團隊名單
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
