<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 社區疫苗接種中心「示範單位」
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 社區疫苗接種中心「示範單位」
								.paragraph
									
								img(src="../images/care-s2-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 港島西醫院聯網新冠疫苗社區接種防疫團隊
									| 
									br
									| 港島西醫院聯網
									br
									br
									| 時間回帶至2021年1月，當時新冠疫苗即將供港，港島西醫院聯網接到一個重大任務——在一個多月內，由零開始，率先於中山紀念公園體育館設立社區疫苗接種中心。
									br
									br
									| 時間緊迫，要有條不紊地完成籌備工作，團隊認為「細心」乃箇中關鍵。「我們曾多次實地視察，不論是各個區域的布置、場地指示、排隊安排，甚至是資訊區的電視擺放位置都經過仔細考量。我們亦為整個接種流程訂立清晰的步驟和指示，每日一早一晚設有簡報會和檢討會，適時發放最新資訊並按實際情況調整運作，確保團隊內溝通清晰，減少出錯。」
									br
									br
									| 正正因為每一環節都小心處理，團隊面對任何事件也能臨危不亂。團隊表示：「曾有人打針後突然抽搐跌倒地上，但因事前曾進行演習，同事很快便為病人急救並送入醫療室，過後情況已無大礙。」而面對其他突發事件諸如局部天花倒塌或是火警系統誤鳴，團隊也能靈活應變。
									br
									br
									| 由於場館佔地甚廣，考慮到傷殘人士和長者的需要，團隊特別預留地方，方便他們不用走遠路；醫護人員亦會帶有個別需要人士到醫療室作簡單評估，有需要時便就地打針。「雖然任務艱鉅，但當收到市民的感謝和讚賞，甚至鼓勵身邊人來我們中心打針，便是對我們工作最大肯定。」中山紀念公園體育館社區疫苗接種中心更成為其他疫苗接種中心的「示範單位」，反映同事的努力沒有白費。
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T2_team.pdf" target="_blank" rel="noopener noreferrer")
										| 團隊名單
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
