<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 探索大腦未至之境
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 探索大腦未至之境
								.paragraph
									
								img(src="../images/care-s5-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 任廣銳醫生
									| 
									br
									| 屯門醫院部門主管／顧問醫生（神經外科）
									br
									br
									| 外科醫生需具備「鷹眼、獅心、淑女手」，而神經外科醫生要處理大腦這個人體結構最複雜細緻的器官，要求就更高。
									strong 任廣銳
									| 醫生行醫30多年，開過無數頭顱，於千絲萬縷的神經和血管之間游刃有餘。他認為細心謹慎並非限於做手術那一刻，「從術前開始便要從病人角度思考，小心計劃治療程序，提供各個安全方案，才能避免任何變卦。」
									br
									br
									| 90年代神經外科初起步，初出茅廬的任醫生接收的病人以切除腫瘤、頭部創傷、腦出血、中風等「救命」手術為主，「這些手術較危急、耗時長，加上人手少，我們多數兩三日一call，生活圍繞著手術室和病房。」他笑言深夜頻繁當值令他練成迅速應變的能力，在「醒與不醒」之間處變不驚，「一晚有廿多個電話叫醒我，你要即時清醒、理智地做決定。」
									br
									br
									| 神經外科現已由「救命」手術擴展至各種預防性及功能性腦神經手術，以改善病人生活質素，專科發展亦經歷科技巨變，「我入行時磁力共振（MRI）才剛起步，而現在術中磁力共振已在外國發展多年。」任醫生說，屯門醫院擴建手術室大樓後亦會引進術中MRI，「病人接受手術期間可即時照MRI，若有殘留腫瘤可即時切除，免受第二次手術之苦。要促成此事，實有賴一班志同道合的團隊以病人為本，爭取多時的成果。」
									br
									br
									| 科技成就突破，任醫生以其最愛的經典影視作品《星空奇遇記》的金句勸勉後輩：「『勇踏前人未至之境』，外科醫生不能原地踏步，但更重要的是，你要把所有人安全地帶回來。」
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
