<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 術前揸Fit人
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 術前揸Fit人
								.paragraph
									
								img(src="../images/care-s3-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 蔡惠榮
									| 
									br
									| 將軍澳醫院一級物理治療師（物理治療部）
									br
									br
									| 治療癌症及做手術必須與時間競賽，「這一分鐘能辦到的事，不要等下一分鐘才去做。」
									br
									| 
									strong 蔡惠榮
									| （Ginny）深明盡早治療對病人至關重要，因此與一眾醫護人員推動由將軍澳醫院開創的「促進術後康復綜合方案」（ERAS）。ERAS於大腸癌病人試行，提早為病人制定復健計劃，增強體能，加速術後痊癒。ERAS推行後，病人留院中位數縮短四天。因成效良好，現已推展至矯形及創傷科及婦科手術。
									br
									br
									| 病人以前要在手術前一日入院接受評估，若發現狀況不佳，便要取消手術。ERAS以跨團隊合作，在術前為病人評估身體狀況、心肺功能、營養等，了解他們是否適合做手術，再進行針對性治理。Ginny說：「病人的體能、背景、興趣，甚至家居環境各有不同，我們根據他們的個別情況，度身訂造心肺功能和肌肉鍛鍊運動。簡單的家居運動如步行、用水樽負重也能達到訓練效果，讓病人以最佳狀態進行手術。」她和團隊又會盡量安排病人在一天內接受評估、覆診、見麻醉師，免卻舟車勞頓之苦。
									br
									br
									| Ginny和她的團隊又為病人訂立指引，提供相應治療，以減少出現術後併發症，更將運動計劃標準化及設計提示卡，提醒病人於術後當天開始做運動，加上麻醉及手術技巧的進步，大部分病人於術後翌日已能在物理治療師的協助下離床活動。以往病人手術後要八至九天才能出院，現時只需四至五天。Ginny說，病人術後重新出發的毅力讓她最感動：「我遇過一名中年病人在切腸手術後出現併發症，他慢慢由臥床到脫離呼吸機，然後離床站立，過程不容易，他也沒有放棄，我們更是不敢怠慢，堅持與他們同行。」
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
