<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 時代巨變下的急症「守門人」
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 時代巨變下的急症「守門人」
								.paragraph
									
								img(src="../images/care-s4-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 何曉輝醫生
									| 
									br
									| 伊利沙伯醫院顧問醫生（急症室）
									br
									br
									| 急症室肩負公立醫院「守門口」重任，而
									strong 何曉輝
									| 醫生已充當伊利沙伯醫院「守門人」近30年。從帆布床滿地的那些年走到疫症新時代，他見證了急症醫學的高速發展，醫者要緊貼時代變遷，但不變的是專業為本、謹慎行事，「與其說是細心，不如說是精準，急症醫生要在短短六、七分鐘內為病人分辨病症、緩急和嚴重程度，否則影響的便不止一個病人。」
									br
									br
									| 這位急症室大前輩並非「紅褲子」出身，他曾做過六年外科醫生，坦言「當時不太喜歡急症室，他們連輕症也收上病房。」有次他接收了一位報稱「痾黑屎」、被診斷為腸胃出血的年長病人，他為其探肛及照心電圖後卻發現不是腸胃出血，而是心臟病，此事令他警惕多年，「應該收去內科而非外科，急症室收錯科後果很嚴重，隨時誤導治療方向，因此基本檢查一定要做足。」
									br
									br
									| 後來他因對創傷醫學感興趣而轉戰急症室，才親身體會箇中難處：當年急症室一天已有約500名病人，數目相等於伊院三分一病床，與現在不遑多讓。由於急症尚未成為專科，較少受醫生青睞，人手長期緊絀，「但忙不是藉口，有問題便需要改革。幸好不久後急症專科成立，吸引不少新血加入，大家有共同目標想做好急症科，提升專業水平，亦加強與各病房之間的溝通。」
									br
									br
									| 何醫生認為急症室下一個挑戰在老年醫學，「病人會隨時代改變，從前『一病人一症』，現在求診者卻大多有三高、要食10多種藥，醫者更要掌握跨專科知識。」他準備退休後仍繼續留守戰線，服務病人。
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
