<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 優異獎得奬名單
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 優異獎得奬名單
								h2 優異員工
								.paragraph
									
									| 
									strong 李頌寧
									| 
									br
									| 一級行政助理（護理部）
									br
									| 東區尤德夫人那打素醫院
									br
									br
									| 
									strong 吳博平
									| 
									br
									| 一級物理治療師（物理治療部）
									br
									| 仁濟醫院
									br
									br
									| 
									strong 蕭敏妮
									| 
									br
									| 病房經理（內科及老人科）
									br
									| 律敦治及鄧肇堅醫院
								h2 優異團隊
								.paragraph
									
									| 
									strong 智能應援團
									| 
									br
									| 醫院管理局總辦事處
									br
									br
									| 
									strong COVID-19靈活創新病人護理團隊
									| 
									br
									| 屯門醫院/ 博愛醫院/ 天水圍醫院
									br
									br
									| 
									strong 香港兒童醫院糖尿團隊
									| 
									br
									| 香港兒童醫院
									br
									br
									| 
									strong 九龍東醫院聯網疫苗專責小組
									| 
									br
									| 九龍東醫院聯網
									br
									br
									| 
									strong 新界東醫院聯網社區外展服務團隊
									| 
									br
									| 新界東醫院聯網
								h2 優秀青年（優異獎）
								.paragraph
									
									| 
									strong 鄭寶君
									| 
									br
									| 臨床心理學家（臨床心理學部）
									br
									| 仁濟醫院
									br
									br
									| 
									strong 張祈諾
									| 
									br
									| 一級行政助理（質素及安全辦事處）
									br
									| 東華東院
									br
									br
									| 
									strong 甘君華
									| 
									br
									| 助理社會工作主任（病人資源中心）
									br
									| 屯門醫院
									br
									br
									| 
									strong 利愷琪
									| 
									br
									| 資深護師（傷口及造口護理/ 日間醫療服務）
									br
									| 將軍澳醫院
									br
									br
									| 
									strong 邱景熙
									| 
									br
									| 資深護師（精神科）
									br
									| 葵涌醫院
									br
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
