<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 評選小組
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 評選小組
								h2 主席
								.paragraph
									
									| 
									strong 龔楊恩慈女士
									| 
									br
									| 醫管局大會成員
								h2 成員
								.paragraph
									
									| 
									strong 陳偉儀教授
									| 
									br
									| 醫管局大會成員
									br
									br
									| 
									strong 高拔陞醫生
									| 
									br
									| 醫管局行政總裁
									br
									br
									| 
									strong 麥志偉先生
									| 
									br
									| 醫管局人力資源主管
									br
									br
									| 
									strong 譚錦添醫生
									| 
									br
									| 前任九龍東醫院聯網總監
									br
									br
									| 
									strong 陳妙貞女士
									| 
									br
									| 2021年度醫院管理局傑出員工
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
