<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 一步一腳印
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 一步一腳印
								.paragraph
									
								img(src="../images/cover-story-s1-1.jpg" alt="").normal.center.full
								.paragraph
									| 有心人是做足份內事之餘，更樂意行多一步。今屆獲得傑出員工、傑出團隊及優秀青年獎的20多名同事和七支團隊，來自不同職系、部門，雖然工作性質各異，但大家都是以病人福祉為先的有心人。
									br
									br
									| 有人與尋死病人一席話後，決心推行護理計劃，助病人減輕痛苦；為協助失去全身活動能力的病童上學，有人替病童特製輪椅、補習、疏導情緒；為防疫症隨時出現，有團隊時刻裝備自己以對付「惡人」，保障全民健康；新冠疫情期間，為增強接收病人能力，有團隊用四個月時間建成一間醫院。
									br
									br
									| 同事背後的故事，讓我們看到有心人為病人走了多遠路，揮灑了多少汗水，一步一腳印。訪問期間，獲獎同事不約而同指在醫管局遇過很多有心人，深受他們啟發，當中包括默默耕耘的團隊成員、積極建言的同事、捐贈者、病人家屬，他們都在為病人默默付出不問回報。即使他們未曾獲獎，但在大家心目中，同是有心人，同樣值得我們表揚。
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
