<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 上下求變 智慧不是口號
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 上下求變 智慧不是口號
								.paragraph
									
								img(src="../images/curiosity-s1-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 新界西智慧醫院團隊
									| 
									br
									| 新界西醫院聯網
									br
									br
									| 天水圍醫院作為智慧醫院試點之一，近年相繼推行智慧手術室、智慧診所等項目，團隊形容「智慧文化」不是口號，而是上下一心共同耕耘的成果，「科技不斷進步，但我們不能盲目求新，而是由下而上求變，探尋真正便利病人和同事的貼地措施，達至雙贏。」
									br
									br
									| 該院推行智慧措施以來，智慧團隊不斷壯大。團隊成員們說，最初只有幾個核心工作小組，如今已發展至11個工作小組，遍及不同部門和病房，不少同事主動要求加入，「更有同事應徵時表明一心想來智慧醫院發展，這毋疑是一份肯定。」團隊表示，不少項目構思都是來自日常工作，例如急症室經常採集病人小便樣本，平日靠護士憑肉眼分辨試紙顏色判斷結果，「大家早習慣人手操作，但有護士提出借助科技工具，令結果更準確，反映前線同事積極求變，常存好奇心，才有助智慧醫療發展。」
									br
									br
									| 團隊去年底試行首間HA Go遙距護士診所，服務對象是糖尿病人，病人由登記、繳費、候診，到與護士視像診症，全程皆以HA Go手機應用程式完成，「第五波疫情時正好大派用場，病人可用app如期覆診，減少感染風險。遙距診所事前需花長時間籌備，但同事毫無怨言，主動試用app、做模擬測試。眼見自己一手一腳完成的項目能讓病人受惠，自然有滿足感。」
									br
									br
									| 「搞科技最重要是與不同人交流，才會持續有新構思，感謝總部和其他醫院的緊密合作和支持，智慧項目不僅服務新界西，而是令全香港病人受惠。」
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T5_team.pdf" target="_blank" rel="noopener noreferrer")
										| 團隊名單
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
