<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 走在沙士與新冠抗疫前線
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 走在沙士與新冠抗疫前線
								.paragraph
									
								img(src="../images/curiosity-s3-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 走在沙士與新冠抗疫前線
									| 
									br
									| 威爾斯親王醫院部門運作經理（外科）
									br
									br
									| 在外科工作的同事予人爽快直接的印象，除此之外，還要有一點好奇心。
									strong 徐仕途
									| 入行36年，他見盡奇難雜症，曾遇過一名男子因撞車送院，當時他頭部受傷，護士忙著檢查他的頭部，惟徐仕途替病人作全身檢查及清潔時，發現他的腹部異常，檢查後才知肝出血。又試過一名男子打高爾夫球暈倒，原以為中暑，但因他說話口齒不清，電腦掃描後發現中風。
									br
									br
									| 「很多時我們只看表徵，未必發現病人出現其他狀況。做外科不能只看外科問題，也要顧及內科，讓病人得到適切治療。」徐仕途說。
									br
									br
									| 身為部門運作經理，他說主管應嚴以律己，寬以待人，就像當年沙士他帶領同事走進收症病房時說的一句話：「我不敢保證你絕對安全，但我保證我會是最後一個離開病房。」後來他獲《時代雜誌》選為「亞洲英雄」之一。他強調以身作則，以大局為重，是故同事以「俠之大者」形容徐仕途，一如金庸筆下、小說《射鵰英雄傳》中的郭靖。
									br
									br
									| 17年後，疫症重臨，他身處的外科病房主動接收新冠病人，「做得幾多得幾多，如果發現有不妥當的地方要及早出聲。」這番話源自他還是護士學生時，曾向病房一名師姐請教有甚麼地方可做得更好，對方說：「當換轉你是病人，你是否能夠接受這種護理？你就知道甚麼地方做得不夠好。」這句話讓他銘記於心，並將之傳承下去。
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
