<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 破格源於耐心堅持
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 破格源於耐心堅持
								.paragraph
									
								img(src="../images/curiosity-s2-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 港島東醫院聯網泌尿外科團隊
									| 
									br
									| 港島東醫院聯網
									br
									br
									| 排尿疼痛、勃起功能障礙、尿失禁……面對千百種「難言之隱」，港島東泌尿外科團隊一一以耐心和堅持應對，排除萬難為病人找出最佳治療方案，「出於對病人的關心，會願意作出改變，以改善他們的生活質素，但如何踏出那一步，靠的就是好奇心，不去嘗試便不知道能否成功。」
									br
									br
									| 泌尿外科團隊不時遇見這樣的掙扎：「有位正值壯年的男病人，試行拔尿喉後排尿疼痛，一度打算放棄，但他身為一家支柱，其實很不願意長期戴尿袋生活。」團隊為此努力找方法讓他適應拔尿喉後的生活，更打破常規，與門診和病房協調，讓該病人在門診逗留較長的時間接受觀察，一有不適便立即安排醫護同事跟進，終在兩星期後成功改善排尿情況。
									br
									br
									| 「只要你願意多行一步，原來可改變病人的一生。插尿喉早已司空見慣，但尿喉帶來的不便往往易被忽略。」團隊在聯網推出「試行拔除導尿管（TWOC）指引」，簡化尿喉護理程序，讓各部門可為合適的病人加快拔除尿喉，「部門之間各有各忙，但大家都很願意做這件事，甚至用工餘時間開會討論每一個案例。」
									br
									br
									| 團隊亦成立多個護士診所，安排初步檢查，更有效分流和持續跟進病人需要，並「各展所長」，「男護士較方便與男病人了解勃起功能障礙問題，女護士則可處理女病人尿失禁情況，更容易建立互信。」團隊說，「敢於破格和創新，不是只求最高端的手術和服務，而是對每位病人的困難想方法伸出援手，不要比病人更早放棄。」
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T1_team.pdf" target="_blank" rel="noopener noreferrer")
										| 團隊名單
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
