<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 醫病首重醫人
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 醫病首重醫人
								.paragraph
									
								img(src="../images/empathy-s3-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 陳藝賢醫生
									| 
									br
									| 瑪嘉烈醫院/ 北大嶼山醫院部門主管/ 顧問醫生（內科及老人科）
									br
									br
									| 醫者各有抱負，心臟科醫生
									strong 陳藝賢
									| 年少時一度追求「做第一」：「初出茅廬難免崇尚個人發展，想自己醫術最精湛、做最厲害的手術。」多年以後，看過無數病人的陳藝賢腳步慢下來，對醫者使命有新一番感悟：「醫人不只醫其病徵，而是要花時間了解病人，甚至是他的家人、朋友，代入病人生活，才能找出真正的問題。」
									br
									br
									| 這樣的體會並非一朝一夕得來，陳藝賢坦言自己在年輕時曾經歷過「危險」階段，「我們都信心爆棚，以為甚麼都懂，怎料最易忽略基本的東西，你不夠虛心便不會察覺得到，例如胃脹不適可能是藥物反應，也可能是胃癌先兆。如果你累積了足夠的經驗，經歷過投訴、責罵，或者病人和家屬真誠的感謝，便會鞭策自己做得更好。」
									br
									br
									| 他銘記一位心臟科權威的名言：「把所有病人視為你的第一個病人」，並在此後診症加倍慎重，亦更關心病人的身心需要，例如有位心肌梗塞病人通波仔九個月後，又因另一條血管閉塞再次入院，他細問下發現病人一日吸一包煙，「通波仔再厲害也不能根治他的問題，而是要勸服病人戒煙。」
									br
									br
									| 陳藝賢亦積極推廣病人健康教育，「門診看症時間有限，病人如何接收健康資訊？因此社區教育尤其重要。」他會繼續推動心臟復康，以減低心臟病人的復發率和死亡率。
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
