<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 治理病童不忘初心
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 治理病童不忘初心
								.paragraph
									
								img(src="../images/empathy-s2-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 基督教聯合醫院兒童及青少年皮膚科醫護團隊
									| 
									br
									| 基督教聯合醫院
									br
									br
									| 「從前觀塘區居民生活環境欠佳，空氣質素差，以致傳染病和皮膚病特別容易在社區傳播，我們希望照顧區內最弱小的弟兄。」團隊隊長兼基督教聯合醫院兒童及青少年科顧問醫生
									strong 陸志剛
									| 醫生憶述他們的初心，是為了照顧飽受皮膚病困擾的病童。聯合醫院30年前，開始逐步建立全港唯一一間兒童胎記及皮膚科治療中心，接收經轉介的個案，小至25周早產嬰兒到18歲青少年都是他們的服務對象。
									br
									br
									| 皮膚問題千變萬化，有些非常明顯，但有些卻是隱形殺手，隨時惡化引發併發症侵襲全身；以血管痣為例，初時只是長在嬰兒身上的小紅點，並不顯眼，父母未必立即帶他們求醫。團隊表示：「若血管痣長在眼睛、耳朵等器官附近，並越長越大，一旦受損流血並受感染，會影響器官功能，甚至使患者面臨生命危險。」中心引入先進技術，即使一個月大的嬰兒也能接受激光治療。
									br
									br
									| 皮膚病不但影響小朋友外觀，更會影響心理、情緒、睡眠質素及專注力，繼而影響社交生活，令患者自卑或被孤立，形成惡性循環。該院兒童及青少年科部門運作經理
									strong 馬寶琼
									| 姑娘說：「有些病童因容貌缺失而拒絕照鏡、有些因受欺凌而拒絕上學。我們不單處理疾病，更希望花多點時間跟患者家人溝通，讓他們學習如何照顧病童，慢慢重建病童的自信。」
									br
									br
									| 由無變有，這個團隊凝聚了幾代人的心血，他們的感人故事更凝聚到社會上不同團體及人士慷慨捐助，購買更多治療儀器及安排醫護接受培訓，讓醫護和社區一同攜手協助病童及他們的家人，實踐團隊的口號：縱使困難重重，我們為你重現笑容。
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T7_team.pdf" target="_blank" rel="noopener noreferrer")
										| 團隊名單
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
