<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 是護理 也是護心
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 是護理 也是護心
								.paragraph
									
								img(src="../images/empathy-s5-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 金琬瀞
									| 
									br
									| 伊利沙伯醫院資深護師（泌尿外科護士診所）
									br
									br
									| 「我覺得自己是個幸運的人，因我享受工作帶給我的樂趣。」對
									strong 金琬瀞
									| 來說，泌尿外科護士不僅是一份工作，更是她畢生興趣所在。她陪伴病人走過治療的旅程，從術前諮詢、手術、出院、覆診甚至善終服務，她都視病人如朋友，一生並肩同行，「病人能夠在我的照顧下獲得良好進展，以及得到病人及家屬對我的信任，就是我工作上源源不絕的動力，令我走得更遠！」
									br
									br
									| 癌症及阻塞性腎病患者需進行經皮腎造口術（PCN），但術後容易出現導管移位、堵塞和感染等與導管相關的併發症，甚至要入院。金姑娘分享最難忘的經歷：約三年前，有一名因PCN移位而入院的癌症女病人，因失眠而抑鬱焦慮，甚至在病房企圖自殺，幸被護士即時制止，「一個人有多痛苦，才會做出這種決定？她跟我說，要等我回到病房才能安心睡覺，我感受到她對我完全信任。但當她因PCN受苦時，我卻無能為力，因此我下定決心要幫助這班病人。」
									br
									br
									| 此事促使她策劃及推行「經皮腎造口術護理計劃」，與多個部門合作，引入引流固定敷料以降低阻塞和移位的風險、加強PCN護理培訓和制定指引，並設立PCN護理護士診所處理緊急個案，減低急症室負荷。計劃推出後，因PCN併發症導致的非預期入院個案減少了三成。金姑娘感激各部門願意「多行一步」作出改變，由心而發幫助病人。
									br
									br
									| 金姑娘身為兩孩之母，坦言曾想過做全職媽媽，「但我實在不願意離開我的病人，不是每個人都能找到自己喜歡又能實現自我價值的工作，因此決意留下來。」她的熱忱促使她不斷進步，繼續將心比心，擇善固執。
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
