<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 復康「重案組」助殘疾者重享家庭樂
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 復康「重案組」助殘疾者重享家庭樂
								.paragraph
									
								img(src="../images/empathy-s1-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 醫院管理局社區復康中心
									| 
									br
									| 伊利沙伯醫院
									br
									br
									| 食飯、飲水看似日常小事，卻是殘疾和癱瘓病人的難題。醫院管理局社區復康中心成立六年，作為復康服務「重案組」，中心的跨專業團隊以高新科技助無數病人重投日常生活，全因設計和改裝工具背後理念，「我們很珍惜每一個轉介個案，求助者定有其難處。他們踏出一步，我們便應多走幾十步回應。」
									br
									br
									| 中心目前接收由公立醫院轉介有特殊需要的殘疾個案，團隊分享指，臨床服務應用高新科技不常見，因此他們主動走訪不同醫院和部門介紹中心服務；團隊的工程師更會一同上門家訪，深入了解病人實際需要，「我們試過綁起雙手體會病人行動不便的難處，這樣才能測試工具的具體成效。」
									br
									br
									| 他們改裝和研發的工具助病人重拾生活樂趣，其中肌肉萎縮症是常見個案，曾有年輕女生手指靈活，但雙臂無力舉高，團隊以一款機械臂助她托起雙臂，「當她終於能用手機自拍，便忍不住眼淚」；另有一位約50歲男病人多年來只能在小茶几低頭吃飯，一家人平日陪他坐在地下吃飯，「後來有了自動餵食機，他便可在桌上進食，一家人第二天更去了飲茶。」
									br
									br
									| 「以往，這類病人出院後仍面對各種生活障礙，但原來一部度身調校的餵食機、改裝輪椅，已能處理多年來解決不到的問題。」團隊計劃在未來普及高新科技，將較常用的輔助工具於醫院試行，令更多病人受惠。
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T3_team.pdf" target="_blank" rel="noopener noreferrer")
										| 團隊名單
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
