<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 將心比心 驅走負能量
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 將心比心 驅走負能量
								.paragraph
									
								img(src="../images/empathy-s4-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 魏碧娟
									| 
									br
									| 東華醫院二級病人服務助理（內科）
									br
									br
									| 2014年修讀病人服務助理證書後，
									strong 魏碧娟
									| 在東華醫院內科病房擔任病人服務助理至今。「這份工作最重要是將心比心。」她回想剛入職時就像一張白紙，甚麼都不懂，是當年指導她的師父用身教，教她如何善待病人及與同事合作。「要明白患病已經令人很煎熬，何況是患長期病的長者，他們的心情更不好過。有時他們會用粗言穢語喝罵人，但我會像哄孩子一樣和他們聊天，令他們冷靜下來。病人慢慢就知道這是出於關心，脾氣也溫順很多，萬試萬靈。」
									br
									br
									| 第五波疫情爆發時，醫院特別探訪安排進一步收緊，部分院友有一段時間未能與家人見面。「有病人哭訴被家人遺棄，特別是患有認知障礙的長者誤以為被送到老人院舍而失落。我會走到床邊告訴他們：『家人不會扔下你的，現在外邊有病毒，沒辦法探訪。』即使要解釋很多遍，我也要讓他們知道不曾被遺棄。」後來醫院部分病房改為接收新冠病人，碧娟堅定走到前線抗疫，穿上保護衣照顧確診患者，又協助安排電話或視像探訪安撫院友情緒。
									br
									br
									| 碧娟現時亦參與培訓新入職病人服務助理，讓他們盡快熟習病房運作。她理解新同事初時面對輪班及繁重工作，心理壓力較大，尤其是初次處理及運送遺體。「我第一次處理遺體時也感害怕，但要提醒自己護理是很有意義的工作。我會教新同事想像病人沒有離世，只是睡著了，總之保持做善事的心，就能克服心理關口。我也會先為他們示範整個流程。」
									br
									br
									| 由於走過同樣的路，碰過相似的難關，碧娟更能明白新同事的難處，願意多溝通了解他們的需要，將這些年學到的傾囊相授。
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
