<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title HASLink 協力
  style(type="text/css").
    [v-cloak] {
      display: none;
    }
  body
    #app(v-cloak)
      include ../module/header.pug
      section
        .main.container
          .d-flex
            .content.cover-content
              .cover-container
                a(href="cover-story-1.html")
                  img(src="../images/cover.jpg")
            include ../module/side.pug
          share(lang="tc")
          counter(lang="tc")
        .container.pb-4
          counter(lang="tc")
      include ../module/footer.pug
