<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 謝謝你一直都在
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 謝謝你一直都在
								.paragraph
									
								img(src="../images/persistence-s2-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 黃麗清
									| 
									br
									| 
									strong 黃麗清
									| 剛退休，離開工作了40多年的大口環根德公爵夫人兒童醫院，她提起醫院牆上藍天白雲圖案的由來。「這裏本來是一面白牆，坐在對面的同事說西斜時反光刺眼，我就請師傅髹上藍色，再添上幾朵白雲，解決同事的訴求之餘亦為環境添上生氣。回望過去，我的工作就是逐步擊破問題與疑難，大家遇到問題都會找『黃姑娘』，我也抱著傾聽孩子聲音的心情，一一細聽。」
									br
									br
									| 一切源於多年來與小朋友打交道的經驗，黃姑娘1979年以註冊護士身分首次踏足這所專責照顧患結核病、脊柱彎曲病兒童的醫院。「病童大多都要留院三個月至半年，大家的關係就像一家人。」她還擔當病童的補習老師，「我們都盼望他們可以由醫院的紅十字會學校考入香港紅十字會甘迺迪中心學習，補習自然少不了，就像『湊大』自己孩子一樣。」
									br
									br
									| 曾有一位失去全身活動能力的病童，只能利用臉部肌肉以機械器材打字及學習。「我們的團隊為他準備特製輪椅、24小時連接呼吸機，讓他去上學。考試前他會血壓急升，護士們一般都會協助鎮靜情緒、餵藥、補習。後來他在公開大學（現稱香港都會大學）完成遙距金融系課程，現在還會炒股票！」這個護士兼任補習老師的傳統在院內傳承至今。
									br
									br
									| 由於病童免疫力特別弱，感染控制在院內不可或缺，黃姑娘1988年起修讀多個感染控制課程。「沙士時我已擬好隔離、轉院流程等應急計劃；2007年副流感爆發，我建議訂立入院篩查，因為不少病童用呼吸機維生。」
									br
									br
									| 黃姑娘閒時做義工，最近更協助籌備社區疫苗接種中心，利用寶貴的經驗幫助有需要的人，人生下半場正在上演。
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
