<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 「見慣『惡人』就不會再怕」
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 「見慣『惡人』就不會再怕」
								.paragraph
									
								img(src="../images/persistence-s1-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 瑪嘉烈醫院
									| 
									br
									| 瑪嘉烈醫院
									br
									br
									| 2009年豬流感在香港爆發，當時剛成立兩年的醫院管理局傳染病中心團隊，原以為這已是最難忘一「疫」，但當10年後遇到威力更強的新冠肺炎，才發現沒有最難忘，只有更難忘！令他們欣慰的是，同事萬眾一心對抗疫情，亦慶幸他們無時無刻裝備自己，當遇上疫情，心態都準備就緒，「見慣惡人（病毒）就不會再怕。 」
									br
									br
									| 中心在沙士後成立，團隊表示，當年大家都以為沙士是唯一一次的大型傳染病，誰知後來還有禽流感、豬流感、中東呼吸綜合症、伊波拉病毒懷疑個案等，所以要隨時作好準備。由於中心人手有限，新冠疫情期間需借助外援，其中與兒科的化學作用讓他們感到十分滿意，「同事的互動增加，將雙方技能結合，沒有局限自己。」
									br
									br
									| 要迎戰傳染病這個「惡人」，不能忽視訊息傳播。部分新冠確診兒童康復後患上「兒童多系統發炎綜合症」，傳染病中心在二月中聯絡海外專家及全港公立醫院兒科部門商討解決方法，會議短片在網絡世界廣泛流傳，讓本地和周邊地區的醫生了解此病診斷和治療方案。他們亦在國際醫學期刊刊出多篇研究文章。
									br
									br
									| 對付傳染病是一場持久戰，團隊坦言傳承至為重要，「如果同事將來有更好發展，能繼續以有心人態度服務香港市民，這是我們所樂見的。」
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T4_team.pdf" target="_blank" rel="noopener noreferrer")
										| 團隊名單
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
