<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 持續學習 支援前線
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 持續學習 支援前線
								.paragraph
									
								img(src="../images/persistence-s3-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong 黎明康
									| 
									br
									| 醫管局總辦事處二級文員（質素及標準）
									br
									br
									| 「雖然我們不是醫護人員，但仍希望盡力支援醫管局同事，令他們工作更暢順，最終服務病人和大眾。」
									strong 黎明康
									| 說。
									br
									br
									| 黎明康加入醫管局超過27年，其間參與醫管局的不同服務和計劃，例如於1994年在青山醫院人力資源部任職檔案文員，之後透過參加醫管局資源增值計劃，及修讀電腦課程，轉任當時新設的資訊科技部。他深信每個崗位都有其價值，本著後勤工作最終也可幫到病人，黎明康持之以恆學習新知識，成為團隊中不可或缺的一份子。
									br
									br
									| 黎明康2015年加入總辦事處質素及安全部任職二級文員，支援外科及神經外科兩個專科統籌委員會的工作。黎明康笑言，初期熟習整個架構和工作性質已花了不少時間，但每次學習到的新技能，都讓他裝備好自己迎接下一項挑戰。而為了方便預備統計報告，他努力學習使用資訊系統和軟件，擴闊他的工作知識。由他管理的記錄存檔系統，可隨時檢索資料，他亦樂意與同事分享經驗。
									br
									br
									| 黎明康以「業精於勤，不斷學習」作為座右銘，亦受《計較，是貧窮的開始》一書啟發，明白凡事不可斤斤計較。在他眼中，醫管局也有很多有心人。疫情期間，他與總辦事處和醫院同事協助包裝過萬份檢測包，儘管時間緊迫，大家向著服務社區這個共同目標前進，令他覺得很感動，也讓他體會到眾志成城的力量，能帶領團隊走得更遠。
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
