<!DOCTYPE html>
html(lang="tc")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 編輯委員會
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 編輯委員會
								.paragraph
									| 葉根銓
									br
									| 蔡梓謙
									br
									| 鄺美鳳
									br
									| 莊慧敏
									br
									| 林欣怡
									br
									| 許頴秀
									br
									| 李美鳳
									br
									| 歐志良
									br
									| 凌詠儀
									br
									| 盧雪穎
									br
									| 彭慧中
									br
									| 談美琪
									br
									| 楊秀玲
									br
									| 
							share.sharing-passage(lang="tc")
							counter(lang="tc")
						include ../module/catalog.pug
			include ../module/footer.pug
