<template>
  <div id="counter" v-if="count != ''">
    <span v-if="lang == 'tc'">瀏覽人次: </span>
    <span v-if="lang == 'en'">Number of visit: </span>
    {{ count }}
  </div>
</template>

<script>
import $ from 'jquery';
export default {
  name: 'counter',
  props: ['lang'],
  data () {
    return {
      count: '',
    }
  },
  mounted () {
    var self = this
    $.ajax({
      url: "../backend/" + this.lang + "/hitcount.asp",
      success: function(result) {
        self.count = result
    }})
  },
  methods: {
  }
}
</script>
