<template>
  <div id="modal" @click.self.stop="$emit('close')" ref="modal">
    <div class="d-flex flex-column justify-content-center align-items-center" :style="'width: ' + size + 'px;'" @click.self.stop="$emit('close')">
      <div class="close-btn-row align-self-end">
        <div class="close-btn background-contain" @click="$emit('close')"></div>
      </div>
      <div>
        <img :src="image" :style="'width: ' + width + 'px; height: ' + height + 'px'"/>
      </div>
      <div class="image-info" v-html="info">
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery';
export default {
  name: 'modal',
  props: ['image', 'info', 'modal'],
  data () {
    return {
      size: 100,
      width: 100,
      height: 100,
    }
  },
  watch: {
    modal: function (val) {
      if (val) {
        this.changeImageSize()
      } else {
        this.width = 0
        this.height = 0
      }
    }
  },
  mounted () {
    window.onresize = () => {
      if (this.modal) {
        this.changeImageSize()
      }
    }
  },
  methods: {
    changeImageSize () {
      if(window.innerWidth > 991){
        this.size = 900
      } else {
        this.size = window.innerWidth
      }

      let img = new Image()
      img.src = this.image
      img.onload = () => {
        if(window.innerWidth > 991){
          if (img.width > img.height) {
            this.width = 900
            this.height = this.width / img.width * img.height
          } else {
            this.height = window.innerHeight - 60 - 20 - $(".close-btn-row").height() - $(".image-info").height()
            this.width = img.width * this.height / img.height

            if (this.width > 900) {
              this.width = 900
              this.height = this.width / img.width * img.height
            }
          }
        } else {
          if (img.width > img.height) {
            this.width = window.innerWidth
            this.height = this.width / img.width * img.height
          } else {
            this.height = window.innerHeight - 60 - 20 - $(".close-btn-row").height() - $(".image-info").height()
            this.width = img.width * this.height / img.height

            if (this.width > window.innerWidth) {
              this.width = window.innerWidth
              this.height = this.width / img.width * img.height
            }
          }
        }
      }
    }
  }
}
</script>
