<template>
  <div id="sharing" class="d-flex">
    <div class="email">
      <a :href="$parent.sharing.email[lang] + url" title="Share by Email" target="_blank" rel="noopener noreferrer">
        <img :src="email_icon" alt="Share by Email" name="Email" width="26" height="20" />
      </a>
    </div>
    <div class="facebook">
      <a :href="$parent.sharing.facebook[lang] + url" title="Share on Facebook" target="_blank" rel="noopener noreferrer">
        <img :src="fb_icon" alt="Share on Facebook" name="Facebook" width="20" height="20" />
      </a>
    </div>
    <div class="instagram" v-if="false">
      <a href="https://www.instagram.com/hospitalauthority/" title="Share on Instagram" target="_blank" rel="noopener noreferrer">
        <img :src="ig_icon" alt="Share on Instagram" name="Instagram" width="20" height="20" />
      </a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'share',
    props: ['lang'],
    data() {
      return {
        email_icon: '../images/icon-email.png',
        fb_icon: '../images/fb.png',
        ig_icon: '../images/btn_instagram.png',
        url: null,
      }
    },
    mounted() {
      this.url = window.location.href
    }
  }
</script>
