<template>
  <div id="video-modal" @click.self.stop="$emit('close')" ref="modal">
    <div class="d-flex flex-column justify-content-center align-items-center" :style="'width: ' + size + 'px;'" @click.self.stop="$emit('close')">
      <div class="close-btn-row align-self-end">
        <div class="close-btn background-contain" @click="$emit('close')"></div>
      </div>
      <div>
        <video ref="player" src="" id="video-container" width="100%" controls></video>
      </div>
      <div class="image-info">
        {{info}}
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery';
export default {
  name: 'video_modal',
  props: ['url', 'info', 'modal'],
  data () {
    return {
      size: 100,
    }
  },
  watch: {
    modal: function (val) {
      if (val) {
        this.$refs.player.src = this.url
        this.$refs.player.play()

        this.changeImageSize()
      } else {
        this.$refs.player.pause()
      }
    }
  },
  mounted () {
    window.onresize = () => {
      if (this.modal) {
        this.changeImageSize()
      }
    }
  },
  methods: {
    changeImageSize () {
      if(window.innerWidth > 991){
        this.size = 900
      } else {
        this.size = window.innerWidth
      }
    }
  }
}
</script>
