html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #F5F5F5 !important;

	&.modal-open {
    overflow: hidden;
    position: fixed;
	}
}

@media (min-width: 1170px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1170px !important;
	}
}

a {
	cursor: pointer;
}

.background-contain {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

header {
	background-color: #fff;
	padding: 20px 0 30px;

	.logo {
		width: 260px;
		height: 92px;
		background-image: url("../images/logo.png");
	}

	.control {
		align-items: flex-end;

		.ha-logo {
			width: 100px;
			height: 48.09px;
			background-image: url("../images/ha_logo.png");
		}
	}

	.previous-issue {
		margin-top: 4px;
		color: #000000;
		font-size: 15px;
	}

	.font-btn-group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 63px;
		margin-right: 14px;

		div {
			cursor: pointer;
		}

		div.active {
			color: #F00;
		}

		div:nth-child(1) {
			height: 10px;
			line-height: 10px;
			font-size: 14px;
		}

		div:nth-child(2) {
			height: 14px;
			line-height: 14px;
			font-size: 18px;
		}

		div:nth-child(3) {
			height: 17px;
			line-height: 17px;
			font-size: 22px;
		}
	}

	.lang-btn-group {
		a {
			display: inline-block;
			width: 36px;
			height: 36px;
			border: 1px solid #D3D3D3;
			line-height: 36px;
			text-align: center;
			font-size: 15px;
			color: #000000;
		}

		a:last-child {
			margin-left: 4px;
		}
	}
}

nav {
	background-color: #BE4144;
	font-size: 16px;
	color: #fff;
	font-weight: bold;

	.container {
		.row {
			> ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				margin-left: auto;
				margin-right: auto;

				> li {
					display: inline;

					> div {
						display: inline-block;
						height: 34px;
						line-height: 34px;
						padding: 0 15px;
						position: relative;
						cursor: pointer;

						&:hover {
							background-color: #960004;

							ul.dropdown {
								display: block;
							}
						}

						> div {
							cursor: pointer;
						}
					}
				}
			}
		}
	}

	ul.dropdown {
		display: none;
		position: absolute;
		left: 0;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #fff;
		width: 240px;
		box-shadow: 0 3px 6px #00000029;
		border: 1px solid #D3D3D3;

		li {
			a {
				display: block;
				width: 240px;
				color: #707070;
				border: 1px solid #D3D3D3;
				padding: 14px 19px 13px 15px;
				font-size: 16px;
				font-weight: normal;
				line-height: 18px;

				&:hover {
					color: #BE4144;
				}
			}
		}
	}

	.issue {
		background-color: #960004;
		height: 34px;
		line-height: 34px;
		padding: 0 15px;
		font-size: 20px;
	}

	.mobile-content-btn {
		display: none;
		flex: 1;
		width: 100%;
		height: 50px;
		cursor: pointer;
	}

	.mobile-content-icon {
		width: 13px;
		height: 12px;
		background-image: url("../images/icon-menu.png");
		margin-right: 15px;
		margin-left: 15px;
	}

	.list-arrow {
		display: none;
		width: 18px;
		height: 18px;
		background-image: url("../images/icon-arrow.png");
		transition: all 0.5s;
	}
}

.top-btn {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 46px;
	background-color: #BE4144;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;

	.top-icon {
		width: 15.04px;
		height: 14.5px;
		background-image: url("../images/icon-go-to-top.png");
		margin-right: 5.96px;
	}
}

footer {
	height: 98px;
	line-height: 98px;
	text-align: center;
	background-color: #F5F5F5;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			color: #707070;
			font-size: 12px;
			font-family: "Helvetica Neue";

			a {
				margin-left: 10px;
				color: #707070;
			}
		}
	}
}

section {
	background-color: #F5F5F5;

	.main {
		padding: 42px 0 23.25px;
		background-color: #fff;
		transition: all 0.5s;

		.cover-container {
			padding: 0 76px;
			transition: all 0.5s;

			img {
				width: 100%;
				-moz-box-shadow: 0 3px 10px #00000080;
				-webkit-box-shadow: 0 3px 10px #00000080;
				box-shadow: 0 3px 10px #00000080;
			}
		}

		#sharing {
			margin-top: 16px;
			margin-bottom: 32px;
			padding: 0 76px;
			transition: all 0.5s;

			div {
				margin-right: 8px;
			}

			&.sharing-passage {
				padding: 0 55px;
			}
		}
	}

	.content {
		flex: 1;
		img {
			&.half {
				width: 50%;
				padding-right: 4px;;
			}
			&.center {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			&.border {
				border: 2px solid rgb(68, 68, 68) !important;
			}
		}

		div {
			.half:last-child {
				padding-right: 0;
			}
		}
	}

	.cover-content {
		padding: 0;
	}

	.catalog {
		flex: 0 0 410px;
		padding-right: 55px;

		> div {
			&:first-child {
				border-top: 2px solid #BE4144;
			}
		}

		.part {
			background-color: #FFF7F7;
			border-bottom: 2px solid #BE4144;
			padding: 17px 14px 15px 15px;
			font-size: 18px;
			line-height: 24px;
			color: #BE4144;

			.title {
				font-weight: bold;
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				list-style-type: square;
				padding-left: 19px;

				li {
					a {
						color: #BE4144;
					}
				}
			}
		}
	}

	.side {
		flex: 0.4671;
		padding-right: 55px;
		transition: all 0.5s;

		.part {
			background-color: #FFF7F7;
			border-bottom: 2px solid #BE4144;
			font-size: 18px;
			line-height: 24px;
			color: #BE4144;
			display: block;
			padding: 0;

			.background-cover {
				width: 100%;
				height: 168px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				transition: all 0.5s;
			}

			.background-size-top {
				background-position: center top;
			}

			.title {
				padding: 17px 14px 15px 15px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.inside-icon {
		width: 296px;
		height: 120px;
		background-image: url("../images/logo-the-inside-stories.png");
	}

	.cover {
		width: 95%;
		margin-bottom: 20.5px;
	}

	.passage {
		padding: 0 55px;
		font-size: 18px;

		h1 {
			color: #BE4144;
			font-weight: bold;
			margin-bottom: 21px;
			font-size: 32px;
		}

		h2 {
			color: #BE4144;
			font-weight: bold;
			margin-bottom: 24px;
			font-size: 18px;
		}

		.intro {
			font-weight: bold;
			line-height: 24px;
			margin-bottom: 46px;
		}

		img {
			width: 420px;
			margin-bottom: 46px;
			cursor: pointer;
			transition: all 0.5s;

			&.full {
				width: 100%;
			}

			&.icon {
				margin: auto;
				margin-bottom: 3px;
				width: auto;
			}

			&.small {
				width: 350px;
			}

			&.x-small {
				width: 250px;
			}

			&.normal {
				cursor: default;
			}
		}

		a {
			color: #BE4144;

			.media-icon {
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				height: 50px;
				width: 50px;
				margin-right: 15px;
			}

			.video-icon {
				background-image: url("../images/videoicon.jpg");
			}

			.file-icon {
				background-image: url("../images/fileicon.jpg");
			}
		}

		hr {
			margin: 0 0 46px;
			border-top: 1px solid #D3D3D3;
		}

		.paragraph {
			margin-bottom: 46px;

			.break {
				word-wrap: break-word;
				word-break: break-all;
			}
		}

		table, th, td {
		  border: 1px solid black;
		}

		table {
			ul {
				padding-left: 20px;
			}
		}
	}
}

#modal, #video-modal {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.847656);
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	display: flex;
	align-items: center;
	justify-content: center;

	> div {
		//margin: auto;
		padding: 30px 0;
	}

	.close-btn-row {
		float: right;
	}

	.close-btn {
		width: 46px;
		height: 46px;
		background-image: url("../images/icon-view-photo-exit.png");
		margin-bottom: 20px;
		cursor: pointer;
	}

	img {
		transition: width 0.2s, height 0.2s;
	}

	.image-info {
		width: 100%;
		text-align: center;
		margin-top: 20px;
		font-size: 18px;
		color: #fff;

		ol {
			width: auto;
			margin: auto;
			text-align: left;
			display: inline-block;
		}
	}
}
