@media screen and (max-width: 1170px) {
  .container {
    width: 100%;
    max-width: none;
  }

  header {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  nav.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  section {
    .side {
      .part {
        .background-cover {
          height: 120px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    padding: 17px 0 15px;

    .logo {
      width: 172px;
      height: 63px;
    }

    .font-btn-group {
      div {
        &:nth-child(1) {
          line-height: 11px;
          font-size: 11px;
        }

        &:nth-child(2) {
          line-height: 13px;
          font-size: 13px;
        }

        &:nth-child(3) {
          line-height: 16px;
          font-size: 16px;
        }
      }
    }

    .lang-btn-group {
      a {
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
      }
    }
  }

  nav {
    .container {
      .row {
        flex-wrap: wrap;
        position: relative;

        > ul {
          -webkit-box-ordinal-group: 3;
          -moz-box-ordinal-group: 3;
          -ms-flex-order: 3;
          -webkit-order: 3;
          order: 3;
          background-color: #FFF7F7;
          position: absolute;
          top: 50px;
          width: 100%;

          > li {
            width: 100%;
            display: block;
            border-bottom: 1px solid #BE4144;
            padding: 15px;

            > div {
              color: #960004;
              height: auto;
              line-height: normal;
              width: 100%;
              cursor: default;
              padding: 0;

              &:hover {
                background-color: initial;
              }

              > div {
                height: 24px;
              }
            }
          }
        }
      }
    }

    ul.dropdown {
      position: relative;
      display: block;
      width: 100%;
      box-shadow: none;
      border: 0;
      background-color: initial;
      padding-left: 18px;
      margin-top: 15px;
      color: #BE4144;

      li {
        list-style-type: square;

        a {
          display: inline;
          width: auto;
          color: #BE4144;
          border: 0;
          padding: 0;
          line-height: 24px;

          &:hover {
            color: #BE4144;
          }
        }
      }
    }

    .issue {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
    }

    .mobile-content-btn {
      display: flex;
    }

    .list-arrow {
      display: block;
    }

    .list-arrow.active {
      transform: rotate(180deg);
    }
  }

  footer {
    height: 86px;
    line-height: 14px;
    text-align: center;
    padding-top: 15px;

    ul {
      li {
        &:first-child {
          display: block;
        }

        &:nth-child(5) {
          display: block;
        }
      }
    }
  }

  section {
    background-color: #FFFFFF;
    padding: 0;

    .main {
      .cover-container {
        padding: 0;
        margin-bottom: 25px;
      }

      .d-flex {
        flex-wrap: wrap;
      }

      #sharing {
  			padding: 0 15px;

        &.sharing-passage {
          padding: 0 15px !important;
        }
      }
    }

    .tag {
      padding-left: 15px;
    }

    .content {
      flex: 0 0 100%;
    }

    .cover-content {
      padding: 0 15px;
    }

    .catalog {
      flex: 0 0 100%;
      padding: 0 15px;
    }

    .side {
      flex: 0 0 100%;
      padding: 0 15px;

      .part {
        margin-bottom: 30px;

        .background-cover {
          height: 214px !important;
        }
      }
    }

    .cover {
  		width: 100%;
  	}

    .passage {
      padding: 0;

      h1 {
        padding: 0 15px;
        margin-bottom: 15px;
      }

      h2 {
        padding: 0 15px;
        margin-bottom: 15px;
      }

      .intro {
        padding: 0 15px;
      }

      img {
        width: 100%;
        margin: 30px 0;
      }

      hr {
        padding: 0 15px;
        margin-bottom: 15px;
      }

      .paragraph {
        padding: 0 15px;
      }
    }
  }

  #modal {
    .close-btn {
      margin-right: 15px;
    }

    .image-info {
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 575px) {
  section {
    .passage {
      .pin-image {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  section {
    .passage {

      img.small, img.x-small {
        width: 65%;
      }
    }
  }
}

@media screen and (max-width: 374px) {
  header {
    .container > .d-flex {
      flex-direction: column;
    }

    .control,
    .logo {
      margin: 0 auto;
    }

    .control {
      align-items: center;

      .ha-logo {
        width: 90px;
        height: 43.281px;
        margin: 10px;
      }
    }
  }
}
