<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 13 Young Achievers “If I were…”
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 13 Young Achievers “If I were…”
								.paragraph
									
								img(src="../images/13-young-achieves-s1-1.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong Dr Chan Zi
									| 
									br
									| Associate Consultant (Medicine and Geriatrics), United Christian Hospital
									br
									br
									| 
									strong If you were an animal
									| , what would you be?
									br
									| The rabbit Officer Judy Hopps in the animated film Zootopia. She is optimistic and strong-willed. I do believe the world is beautiful and it can be even better if we work hard.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| I have once worked in the Renal Ward when I was a junior doctor. Dr Sunny Wong Sze-ho, head of Renal Unit, has influenced and inspired me deeply as my senior. Living with chronic kidney disease has always been a major challenge for kidney disease patients. Dr Wong treats every patient with the utmost care. He shows empathy and patience, tries to understand the patient’s conditions during consultation. His enthusiasm is contagious, which makes me determine to become a nephrologist with a caring heart to bring hope to patients.
									br
									br
									
								img(src="../images/13-young-achieves-s1-2.jpg" alt="").normal.center
								.paragraph
									| 
									strong Max Chan Kwun-yu
									| 
									br
									| Dispenser (Pharmacy), North District Hospital
									br
									br
									| 
									strong If you were an animal, what would you be?
									| 
									br
									| A snail. I move towards my goal with determination although I may be slow and heavily loaded.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| My grandfather inspires me a lot. He takes an interest in everything. We always repair machines together which nurtures my thirst for knowledge. He says I should turn learning into a hobby and a habit, and enjoy the process in between. He teaches me to analyse in a macro perspective when playing chess – to think before I act, and to remain objective.
									br
									br
									
								img(src="../images/13-young-achieves-s1-3.jpg" alt="").normal.center
								.paragraph
									| 
									strong Dr Tam Anthony Raymond
									| 
									br
									| Associate Consultant (Medicine), Queen Mary Hospital
									br
									br
									| 
									strong If you were an animal, what would you be?
									| 
									br
									| A horse. I strive for efficiency. I often remind myself that tasks should be completed as soon as possible. Otherwise, accumulation of work would lead to more chaos.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| My mother has influenced me the most on my work attitude. When I was a kid, I listened to her stories about her work and how to get along with friends. She often taught me to be considerate; and there must be something to learn from people regardless of their academic or social status. Nurtured by her sharings, I bear in mind that every team member’s opinion is valuable. We can unleash our full potential and work things out as long as we put our heads together.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
