<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 13 Young Achievers “If I were…”
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 13 Young Achievers “If I were…”
								.paragraph
									
								img(src="../images/13-young-achieves-s3-1.jpg" alt="").normal.center
								.paragraph
									| 
									strong Dr Ma Sze-ho
									| 
									br
									| Associate Consultant (Medicine & Therapeutics), Prince of Wales Hospital
									br
									br
									| 
									strong If you were a type of food, what would you be? 
									| 
									br
									| The tapioca pearls in bubble tea. They are not eye-catching at all but they enhance the flavour of the drink – even though they sometimes get stuck in the straw.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| Apart from my supervisor Dr Chow Kai-ming and Professor Leung Wai-hong, my wife is the person who inspires me the most. Every time we go hiking, she refuses to climb to the top of any mountain and tells me, “it isn’t the scenery at the top that I enjoy – it’s the walk we have together and the tofu pudding we have in the kiosk halfway up.” That attitude reminds me that many uncontrollable factors can affect a patient’s progress and recovery from a stroke after we carry out surgery. It is also important to accompany the patients travelling the journey. We may not always get the result we expect or want, but we always provide all the support we can to each patient.
									br
									br
									
								img(src="../images/13-young-achieves-s3-2.jpg" alt="").normal.center
								.paragraph
									| 
									strong Jacob Wong Wai-lung
									| 
									br
									| Executive Assistant I (Cluster Human Resources Department), Tuen Mun Hospital
									br
									br
									| 
									strong If you were a type of food, what would you be?
									| 
									br
									| A ping on bun. A puffy steamed ping on bun will satiate your cravings. It is also believed that the bun brings people peace, just like my duty of Occupational Safety and Health (OSH) which ensures safety of colleagues.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| My mentor Kenny Li has a far reaching impact on my life and career. He regarded me as his student and demonstrated how to put our missions in the OSH team into actions. In the early stage of the epidemic, he led the team to every department and ward to perform fit tests for colleagues. He spent his spare time researching different articles and teaching me the techniques and principles of fit tests, ensuring the frontline staff were equipped with appropriate personal protective equipment. We do encounter difficulties, but I rejoice in the success of becoming a ping on bun on the anti-epidemic frontline!
									br
									br
									
								img(src="../images/13-young-achieves-s3-3.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong Dr Cheng James Wesley Ching-hei
									| 
									br
									| Associate Consultant (Paediatric & Adolescent Medicine), United Christian Hospital
									br
									br
									| 
									strong If you were a type of food, what would you be?
									| 
									br
									| Rice. From steaming to cooking and from frying to baking, the potential of rice is limitless. The beauty of rice lies not in itself, but its ability to stay a humble side dish and allow those around it to shine and have their moments.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| Three years ago, a girl with spinal muscular atrophy was admitted to the Paediatric Intensive Care Unit. She was put on a ventilator, prescribed inotropes and antibiotics. Fortunately, she recovered gradually. On the day she was about to be extubated, she wrote, “even if I were to breathe through a tracheostomy and see the world with a single eye, I will still choose to live.” On her blog she also wrote, “God is fair. My disabilities make me stronger and give me the ability to influence others.” As a frontline doctor, I have been privileged to witness these stories as part of my daily practice - it is often that those who are forgotten inspire us the most.
									br
								img(src="../images/13-young-achieves-s3-4.jpg" alt="").normal.center
								.paragraph
									| 
									strong Dr Lim Mei-ying
									| 
									br
									| Consultant (Oncology), Princess Margaret Hospital
									br
									br
									| 
									strong If you were a type of food, what would you be?
									| 
									br
									| A lotus root. Like a pliable fibre that is not easy to snap, I never give up.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| My father is the most influential person in my life, especially for his self-discipline and stamina. When I was studying at university, he became very weak. But he would wake up early to exercise every morning, regardless of the weather. One rainy winter morning, I asked him, “what motivates you to do it every day?” and he replied, “when you find something worthwhile, it inspires you to keep going.” Whenever there are problems in my work or life, that reminds me never to give up.
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
