<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 13 Young Achievers “If I were…”
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 13 Young Achievers “If I were…”
								.paragraph
									
								img(src="../images/13-young-achieves-s4-1.jpg" alt="").normal.center
								.paragraph
									| 
									strong Dr Vanissa Chow Wing-see
									| 
									br
									| Consultant (Ophthalmology), Hong Kong Eye Hospital
									br
									br
									| 
									strong If you were an object, what would you be?
									| 
									br
									| If you were an object, what would you be?
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| I was much inspired by the character Forrest Gump in the movie. Like Gump, I may not be smart, a little flawed even, but I have passion and commitment in my work. I am grateful that I work with many doctors, nurses, optometrists and colleagues from Eye Bank, all dedicated professionals who share the same mission as me: to adopt different modalities of treatment and innovative transplantation techniques to help alleviate the shortage of donor corneas in Hong Kong and help sufferers of corneal blindness see again.
									br
									br
									
								img(src="../images/13-young-achieves-s4-2.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong Dr Jessica Law Yun-pui
									| 
									br
									| Consultant (Obstetrics & Gynaecology), Pamela Youde Nethersole Eastern Hospital
									br
									br
									| 
									strong If you were an object, what would you be?
									| 
									br
									| A box of pastel colours. Pastel painting is my way to mediate and de-stress. The myriad colours reflect the multi-facets of my personality: the sense and sensibility. Through flexible mixing and matching of these colours or different sides of me, I can effectively deal with different challenges of everyday work and life.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| I am fortunate to have a father, who has taught me through his own example, how I could find both fulfillment and enjoyment in a busy work life. Being an obstetrician and gynecologist himself, he has inspired me to find meaning and satisfaction through earnestly helping and caring for my patients, and to always maintain a positive and calm frame of mind when faced with challenges. He has also helped me cultivate a range of interests to broaden my horizons and has reminded me to be curious, to enable me to better understand myself and others.
									br
									br
									
								img(src="../images/13-young-achieves-s4-3.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong Liu Hong-ping
									| 
									br
									| Advanced Practice Nurse (Surgery), North District Hospital
									br
									br
									| 
									strong Advanced Practice Nurse (Surgery), North District Hospital
									| 
									br
									| Glue. I want to hold my colleagues together, motivating them to achieve our common goals.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| I was inspired by a conscientious senior colleague when I was a student nurse. A patient asked to stand up in the middle of the night. Because of the tight manpower situation on the night shift, most of my colleagues might not be able to offer help. But the senior colleague didn’t hesitate to ask me to lift the patient with him and told me, “it might be an unreasonable request but it is meaningful to the patient. Now you can see how badly a bedridden patient wants to stand up.” That colleague planted the seeds of empathy in me and encouraged me to understand and fulfil patients’ needs in my work.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
