<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | 13 Young Achievers “If I were…”
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 13 Young Achievers “If I were…”
								.paragraph
									
								img(src="../images/13-young-achieves-s2-1.jpg" alt="").normal.center
								.paragraph
									| 
									strong Dr Shea Yat-fung
									| 
									br
									| Associate Consultant (Medicine), Queen Mary Hospital
									br
									br
									| 
									strong If you were a plant, what would you be?
									| 
									br
									| A pine tree. A symbol of vitality, perseverance, pride, and upward motivation.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| When I was a junior doctor about ten years ago, I received training in the Department of Geriatrics of Queen Mary Hospital. At that time, my mentor was the then senior doctor Dr Patrick Chiu. Dr Chiu invited me to observe his consultation sessions in the Memory Clinic every Thursday morning. He explained cases in detail and demonstrated different interview techniques. He shared his wealth of knowledge with me selflessly. After the three-month experiences, I have developed a strong interest in geriatrics and dementia, which has become my lifelong profession.
									br
									br
									
								img(src="../images/13-young-achieves-s2-2.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong Choi Shan-shan
									| 
									br
									| Assistant Social Work Officer (Medical Social Service Department), Kwong Wah Hospital
									br
									br
									| 
									strong If you were a plant, what would you be?
									| 
									br
									| A sunflower. It stands straight and follows the sun to bring everyone hope. Like sunflower, I have a mission to accompany my patients and their families to walk through the recovery journey and look for a silver lining together.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| Over a decade ago, a young patient met a good doctor. The doctor not only performed appropriate and immediate treatment for the patient with his professional knowledge, but also regularly explained the medical condition and recovery progress in detail to the family, as well as constantly paid attention to their emotional and psychological needs. The patient journey was filled with love with the dedication of the doctor and his team. It drove me to become a devoted medical social worker.
									br
									br
									
								img(src="../images/13-young-achieves-s2-3.jpg" alt="").normal.center.small
								.paragraph
									| 
									strong Dr Eugene Chan Yu-hin
									| 
									br
									| Associate Consultant (Paediatrics and Adolescent Medicine), Hong Kong Children’s Hospital
									br
									br
									| 
									strong If you were a plant, what would you be?
									| 
									br
									| A banyan tree. Thanks for the trust from my patients and their families, I persevere and thrive into a banyan tree that safeguards the well-being of children with kidney disease. I am most fortunate to team up with the brilliant trees-like healthcare colleagues in the forest who work selflessly for the kids.
									br
									br
									| 
									strong Who inspires you in your work?
									| 
									br
									| Prof Chiu Man-chun, the instrumental leader who pioneered the development of paediatric nephrology in Hong Kong. He established the paediatric dialysis and kidney transplant services and nurtured a patient-centred outstanding clinical team. He dedicated his life to serve children with kidney disease in Hong Kong, the Mainland and around the world. His enthusiasm inspired and motivated me to devote my career to paediatric nephrology. Through innovative research and introducing new service, I wish to help these sick children get their life back on the right track, so that they can pursue their dreams and have a happy childhood!
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
