<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Making the impossible possible
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Making the impossible possible
								.paragraph
									
								img(src="../images/care-s1-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong The Pandemic Warriors
									| 
									br
									| North Lantau Hospital
									br
									br
									| It might sound nigh impossible to have a hospital bulit in four months, yet the North Lantau Hospital Hong Kong Infection Control Centre (HKICC) Team had this ‘mission impossible’ successfully completed with a bold but cautious attitude.
									br
									br
									| In order to have the hospital completed as soon as possible, the Team began their race against the clock to handle various aspects of the project when they were first notified in September 2021. “This is a mission which allows no delay. If the preparation work was to delay by one day, treatment and care to patients would be delayed as well. Therefore, we confirmed the building design in one week and adopted the unconventional Modular Integrated Construction technology to speed up the installation and compress the preparation time.” Meanwhile, the Team had to deal with the disrupted logistics and supply chain issues and secured the medical and laboratory equipment needed for HKICC. 
									br
									br
									| While the Team was really eager for an early completion, they did not handle any aspect of the project in a rash or careless manner. “Given the tight schedule, the only way to catch up with the progress was by planning even more carefully. The Team just had about five weeks of time to prepare wards and conduct the final checking prior to the launch of the hospital. At the same time, we would also need to finalise the details of the manpower plan, treatment plan, triage of patients, etc. Luckily we have so many colleagues from various hospitals who were willing to join us, offering great support and help which all contributed to the smooth completion of the project.”
									br
									br
									| On the opening day of HKICC, there was a local cluster outbreak causing an influx of patients which required opening of more wards than planned. Later with the emergence of the fifth wave of COVID-19, the Team promptly adjusted the services and operation arrangements. “HKICC was originally designed to receive patients aged 16 to 65 in clinically stable conditions. However, many child patients were admitted amid the fifth wave and we had to collect supplies and equipment needed and call for support from colleagues with relevant expertise and experience to set up paediatric wards in a short period of time. Later, in view of the increasing number of elderly patients, we opened new geriatric wards and began to provide rehabilitation services, aiming to help recovered elderly patients to improve their functional capacity.” Looking ahead, the Team will continue to monitor the epidemic development and cope with the next wave of COVID-19 in a flexible manner.
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T6_team.pdf" target="_blank" rel="noopener noreferrer")
										| Team List
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
