<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | The boss of pre-operative surgery
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 The boss of pre-operative surgery
								.paragraph
									
								img(src="../images/care-s3-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Ginny Choi Wai-wing
									| 
									br
									| Physiotherapist I (Physiotherapy), Tseung Kwan O Hospital
									br
									br
									| Cancer treatment and surgery must be a race against time. “If you could do it in one minute, do not wait until the last minute,” says 
									strong Ginny Choi Wai-wing
									| , who understands the importance of an early treatment to a patient. Hence, she promoted the Enhanced Recovery After Surgery (ERAS) services, which was initiated by Tseung Kwan O Hospital, with other medical professionals. ERAS was piloted for colorectal cancer patients, with an aim of strengthening the endurance of patients and speeding up their recovery by formulating ‘prehabilitiation’ exercise programmes. After its implementation, the median of length of stay has been shortened by four days. In view of the good results, the programme has been extended to obstetric & gynaecological and orthopaedic & trauma surgeries.
									br
									br
									| Patients used to receive pre-operative assessment one day before surgery, leaving them facing the prospect of having their operations cancelled at the eleventh hour if they were found to be unfit or unsuitable for the procedure. ERAS is a multidisciplinary cooperation. Patients are given a pre-operative assessment on aspects including their health conditions, cardiorespiratory endurance and nutrition to evaluate their suitability for surgery, and an appropriate treatment will follow. “The backgrounds, interests and living environments of patients are so different, so we have to design exercise programmes that match their individual situation. Individual strategies on cardiorespiratory endurance and muscle building are then devised for each patient. Simple home exercises including walking and water bottle workout are able to achieve their objectives, ensuring they go into the operating theatre in the best possible physical condition,” explains Ginny. She and the team will also arrange assessment, follow-up medical and anaesthetist appointments conducted as far as possible in a single day to avoid travel fatigue.
									br
									br
									| Ginny and her team have also devised Physiotherapy Management Guideline for patients, providing corresponding treatment to reduce complications after surgery. She has also standardised the exercise regime and designed an exercise reminder card for post-operative patients to do exercise. In addition to the improvement on anaesthesia and surgical skills, most patients could leave the bed under the assistance of physiotherapists on the next day of surgery. In the past, patients would stay in hospital for eight to nine days following surgery, but now they leave in just four to five days. Ginny says what touched her the most is the strong will of patients. “I have met a middle-aged patient who had complications arising from an enterotomy procedure. He was bedridden and gradually extubated, then he could finally stand up. It was uneasy for him. But he would never, ever give up. We dared not neglect but walk together with our patients persistently,” she reflects.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
