<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Star Trek-loving surgeon explores final frontiers of neurosurgery
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Star Trek-loving surgeon explores final frontiers of neurosurgery
								.paragraph
									
								img(src="../images/care-s5-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Dr Yam Kwong-yui
									| 
									br
									| Chief of Service / Consultant (Neurosurgery), Tuen Mun Hospital
									br
									br
									| A surgeon should have ‘an eagle’s eyes, a lion’s heart and a fair lady’s hand’. The brain is the most complex and delicate organ of human body, that is why neurosurgeons even have to fulfil higher criteria. In a career spanning more than 30 years, neurosurgeon Dr 
									strong Yam Kwong-yui
									|  has performed countless operations with great dexterity and says attention to fine detail is crucial not only in surgery but also in pre-operative work. “It is important to plan the procedure carefully and to provide a variety of safe options for patients in order to avoid any unexpected outcome,” he stresses.
									br
									br
									| When he began his career as a neurosurgeon in the 1990s, that neurosurgery was in its early stage of development, Dr Yam dealt mostly with critical life-saving procedures such as the removal of tumors and treatment of head injury, intracranial haemorrhages and stroke, etc. He was constantly on call every two or three days because of the time-consuming and labour-intensive nature of these surgeries. He recalls, “our lives revolved around the operating theatres and wards.” Frequent night shifts taught him to be alert and quick to respond at all times. “You would be woken up by more than 20 calls a night sometimes and you had to be awake and conscious to make the right decisions immediately,” he says.
									br
									br
									| Neurosurgery has since expanded from life-saving surgery to include a wide range of preventive and functional neurological procedures that improve patients’ quality of life, and the specialty has undergone significant technological changes as a result. “When I started my career, the magnetic resonance imaging (MRI) service was at an initial stage, but now, intraoperative MRI has been developed in foreign countries for many years,” explains Dr Yam, adding that intraoperative MRI will be introduced after the expansion of the Operating Theatre Block at Tuen Mun Hospital. 
									br
									br
									| “Patients will be able to undergo an MRI instantly during surgery. If a residual tumour is found, it can be removed immediately, saving patients from the ordeal of a second operation,” he says. “This is the result of a team of like-minded people working together for a long time with a patient-centred approach.”
									br
									br
									| Technological breakthroughs have opened up new frontiers. Dr Yam uses a catchphrase from his favourite TV and movie series, Star Trek, to encourage junior colleagues to realise their pioneering potential: “To boldly go where no man has gone before.” Dr Yam adds, “but more importantly, you have to bring everyone back safely.”
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
