<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | A gatekeeper in the frontline of emergency healthcare
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 A gatekeeper in the frontline of emergency healthcare
								.paragraph
									
								img(src="../images/care-s4-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Dr Ho Hiu-fai
									| 
									br
									| Consultant (Accident & Emergency), Queen Elizabeth Hospital
									br
									br
									| Accident & Emergency (A&E) departments are the gateways to life-saving public health services – and Dr Ho Hiu-fai has been a gatekeeper at Queen Elizabeth Hospital for almost three decades. He has seen the rapid development of emergency medicine from an era of canvas beds in the 1990s to the handling of the COVID-19 epidemic, and says that while doctors have changed with the times, their care and professionalism remains constant. “A&E work is more about precision than just being meticulous,” explains Dr Ho. “An emergency physician should be able to identify a patient's illness, its urgency and severity of the condition, in just six to seven minutes, otherwise not just one but every patient will be affected.”
									br
									br
									| The A&E veteran was initially a surgeon for six years and says, “I didn’t like the A&E department at that time as it always admitted patients with mild symptoms to wards.” He had received an elderly patient on one occasion who claimed himself having ‘black stools’ and thus diagnosed with gastrointestinal bleeding. After performing digital anal examination and electrocardiogram examination, however, Dr Ho discovered that the patient had actually suffered from a heart attack. Since then, he realised the critical importance of correct A&E diagnoses.
									br
									br
									| “The patient should have been admitted to the department of medicine instead of the department of surgery,” he reflects. “The consequences of admitting a patient from A&E to the wrong department can be serious as it might mislead the direction of treatment. Getting the basic tests done is fundamental.”
									br
									br
									| Dr Ho eventually transferred to A&E because of his interest in trauma medicine, and he quickly realised the scale of the challenges involved. At that time, the A&E department received about 500 patients a day – a third of the total number of beds in the entire hospital. As A&E has not yet become a specialty, it is less favoured by doctors and is chronically understaffed. “However, being busy is never an excuse,” he reflects. “When problems occur, the only answer is to make changes.” The creation of an A&E specialty soon attracted an influx of new medical talent. “We all share the same goal of reforming the A&E department, raising professional standards and enhancing communication with other wards and departments.”
									br
									br
									| Dr Ho believes the next challenge for the department is geriatrics. “In the old days, it was a case of ‘one patient, one disease’,” he says. “Now most patients involve three-highs and require more than 10 kinds of medication. Today’s A&E doctors need to equip themselves with multi-disciplinary knowledge.” Dr Ho plans to stay on after retirement to continue to serve patients.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
