<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | The role model of Community Vaccination Centres
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 The role model of Community Vaccination Centres
								.paragraph
									
								img(src="../images/care-s2-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong HKWC COVID-19 Vaccination Team for CVC
									| 
									br
									| Hong Kong West Cluster
									br
									br
									| Dated back to January 2021 when the COVID-19 vaccines were about to be delivered to Hong Kong, a mission was given to the Hong Kong West Cluster – to set up the Community Vaccination Centre (CVC) from scratch at the Sun Yat Sen Memorial Park Sports Centre in about a month. 
									br
									br
									| Given the pressing schedule, in order to have the preparation work completed systematically, the Team believes that handling every single matter with utmost discretion is the key to success. “We have conducted multiple site visits and planned every detail very carefully, including but not limited to the set-up of different zones, the wayfinding signage at the venue, queuing arrangement, and even the placement of the television in the information zone. We have also drawn up clear workflow and guidelines for the entire vaccination process and hold briefing and debriefing sessions before and after work on a daily basis. This is to allow timely release of the latest information and quick adjustment of operation according to the actual situation, and also ensure effective communication among colleagues and minimise errors,” a member of the Team says. 
									br
									br
									| Since every detail was handled carefully, the Team was unfazed when unexpected incidents arose. “There was once a person who suddenly had a seizure and fell to the ground after vaccination for which we have conducted drills before. Hence first aid treatment was performed immediately and the patient was sent to the sick bay right away. The patient was treated and recovered shortly afterwards,” the Team member says. When facing other emergencies such as partial ceiling collapse and false fire alarms going off, the Team also overcome the challenges with high flexibility.
									br
									br
									| Considering the sizable venue of the CVC and the needs of persons with disabilities and the elderly, cubicles were specially reserved for their convenience. For citizens with medical needs, staff would take them to the sick bay for basic assessments. When necessary, vaccination would be taken place at the sick bay. “It was an arduous task. Nonetheless, we have received many thank you and appreciation messages from the public, and some people even recommended our centre to the others. This is definitely a recognition of our work.” The CVC at Sun Yat Sen Memorial Park Sports Centre was considered to be a role model for other CVCs, proving that colleagues’ efforts were acclaimed.
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T2_team.pdf" target="_blank" rel="noopener noreferrer")
										| Team List
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
