<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Merit Award List
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Merit Award List
								h2 Merit Staff
								.paragraph
									
									| 
									strong Lee Chung-ning
									| 
									br
									| Executive Assistant I (Nursing Services Division)
									br
									| Pamela Youde Nethersole Eastern Hospital
									br
									br
									| 
									strong Francis Ng Pok-ping
									| 
									br
									| Physiotherapist I (Physiotherapy)
									br
									| Yan Chai Hospital 
									br
									br
									| 
									strong Siu Mun-lei
									| 
									br
									| Ward Manager (Medicine and Geriatrics)
									br
									| Ruttonjee & Tang Shiu Kin Hospitals 
								h2 Merit Teams
								.paragraph
									
									| 
									strong AI Genie
									| 
									br
									| Hospital Authority Head Office
									br
									br
									| 
									strong COVID-19 Flexible and Innovative Patient-Care Team
									| 
									br
									| Tuen Mun Hospital/ Pok Oi Hospital/ Tin Shui Wai Hospital 
									br
									br
									| 
									strong Hong Kong Children's Hospital Diabetes Team
									| 
									br
									| Hong Kong Children's Hospital
									br
									br
									| 
									strong KEC Vaccination Taskforce
									| 
									br
									| Kowloon East Cluster
									br
									br
									| 
									strong New Territories East Cluster Community Outreach Services Team
									| 
									br
									| New Territories East Cluster
								h2 Young Achievers (Merit Award)
								.paragraph
									
									| 
									strong Jamie Cheng Po-kwan
									| 
									br
									| Clinical Psychologist (Clinical Psychology)
									br
									| Yan Chai Hospital
									br
									br
									| 
									strong Cheung Kei-lok
									| 
									br
									| Executive Assistant I (Quality and Safety Office)
									br
									| Tung Wah Eastern Hospital
									br
									br
									| 
									strong Kenji Kam Kwan-wa
									| 
									br
									| Assistant Social Work Officer (Patient Resources Centre)
									br
									| Tuen Mun Hospital 
									br
									br
									| 
									strong Alvina Lee Hoi-kei
									| 
									br
									| Advanced Practice Nurse (Wound and Stoma Care/ Ambulatory Services)
									br
									| Tseung Kwan O Hospital 
									br
									br
									| 
									strong Yau King-hei
									| 
									br
									| Advanced Practice Nurse (Psychiatric)
									br
									| Kwai Chung Hospital
									br
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
