<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Every step counts
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Every step counts
								.paragraph
									
								img(src="../images/cover-story-s1-1.jpg" alt="").normal.center.full
								.paragraph
									| A good healthcare worker not only does his or her job – they go the extra mile and consider the interests of patients above everything else. This year, over 20 colleagues and seven teams have been honoured in the Outstanding Staff & Teams and Young Achievers Award programme. They come from a range of disciplines, departments, and jobs, but they have one thing in common: they always put the well-being of patients first.
									br
									br
									| One colleague created a supportive care programme to help alleviate the pain of patients after speaking to a patient who attempted suicide. Another has become a mentor and counsellor to help a quadriplegic child patient go to school with a special wheelchair. Other colleagues prepared well to guard against the spread of infectious diseases, whenever they strike. During the COVID-19 outbreak, one team established a hospital within four months to enhance the capability of public hospitals in overcoming the challenges of the epidemic. 
									br
									br
									| The stories behind these achievements shine a light on how much effort and dedication colleagues put into their work. But the award winners invariably say they were inspired by good colleagues and the good people they worked alongside, and those people also deserve great credit. They are the team members working tirelessly behind the scenes, the wise colleagues with helpful advice to offer, the donors, and the family members of patients – all of them playing vital roles in the background with no expectation of any honour or reward. Although they are not among the list of winners in this programme, we thank them from the bottom of our hearts for their compassion and selflessness.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
