<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Selection Panel
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Selection Panel
								h2 Chairperson
								.paragraph
									
									| 
									strong Mrs Ann Kung Yeung Yun-chi
									| 
									br
									| Hospital Authority Board 
								h2 Members
								.paragraph
									
									| 
									strong Prof Chan Wai-yee
									| 
									br
									| Hospital Authority Board Member
									br
									br
									| 
									strong Dr Tony Ko Pat-sing
									| 
									br
									| Chief Executive, Hospital Authority
									br
									br
									| 
									strong Mr David Mak Chi-wai
									| 
									br
									| Head of Human Resources, Hospital Authority
									br
									br
									| 
									strong Dr Tom Kam-tim
									| 
									br
									| Former Cluster Chief Executive, Kowloon East Cluster
									br
									br
									| 
									strong Ms Cecilia Chan Miu-ching
									| 
									br
									| Winner of the HA Outstanding Staff Award 2021
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
