<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | A bottom-up approach to innovative hospital services”
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 A bottom-up approach to innovative hospital services”
								.paragraph
									
								img(src="../images/curiosity-s1-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong NTWC Smart Hospital Team
									| 
									br
									| New Territories West Cluster
									br
									br
									| As one of the pilot smart hospitals in HA, Tin Shui Wai Hospital has implemented several smart projects like Smart OT and Smart Clinic in recent years. And its embrace of cutting-edge technology and new innovation is not about slogan, but rooted firmly in practicality by concerted efforts. “Technology is continually developing, but we do not mindlessly seek out the latest innovations,” say the members of NTWC Smart Hospital Team. “Rather, we seek out change from the bottom up, to find out what really works for patients and staff on the ground. That way, we achieve a win-win result.”
									br
									br
									| Since the smart initiatives launched, the Team has expanded from a handful of core work groups to 11 separate innovation groups, involving several departments and wards. Many colleagues initiated to join the work groups. “Some of our colleagues have even indicated when they apply for a job that they want to join us because of the smart initiatives, which is a positive recognition of what we are doing,” a Team member says.
									br
									br
									| According to the Team, many of the smart initiatives ideas come from daily work. For instance, collection of urine samples from patients is common in the A&E department. Nurses generally rely on sight to distinguish the colour of the test paper to determine results. “We have long been accustomed to this manual operation, but a nurse suggested using technological equipment to give more accurate results,” the Team explains. “This shows how our frontline colleagues are always curious and willing to seek changes, which is conducive to the development of smart healthcare.”
									br
									br
									| At the end of last year, the Team piloted the first ‘HA Go’ remote nurse clinic for diabetic patients. The whole patient journey – from registration to payment to video consultation with nurses – can be done on the ‘HA Go’ mobile app, allowing patients to keep up with their appointments at lower risk of infection during the fifth wave of the epidemic. “The remote clinic took a long time to prepare,” a Team member reflects. “But our colleagues took the initiative to try the app and conduct mock tests without any complaint. They are even more motivated when they see their own projects successfully completed and helping patients.”
									br
									br
									| “Communication with different stakeholders is crucial in innovation development, allowing us to continue to come up with new ideas. The close cooperation and support from Head Office and other hospitals in these smart initiatives not only benefit the New Territories West Cluster but all patients in Hong Kong.”
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T5_team.pdf" target="_blank" rel="noopener noreferrer")
										| Team List
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
