<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Breakthrough in patient care requires patience and perseverance
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Breakthrough in patient care requires patience and perseverance
								.paragraph
									
								img(src="../images/curiosity-s2-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong HKEC Urology Team
									| 
									br
									| Hong Kong East Cluster
									br
									br
									| Dealing with delicate personal problems such as dysuria, erectile dysfunction, and urinary incontinence with the best solution requires patience and perseverance from members of the Hong Kong East Cluster Urology Team. “It is because you care about your patients that you are willing to make changes to improve their quality of life, but taking that step involves a degree of inquisitiveness,” explained by the Team. “You don’t know if you will succeed unless you give it a try.”
									br
									br
									| The Team often finds patients in a dilemma. In one case, a middle-aged patient suffered from dysuria wanted to give up the trial of his catheter removed due to the pains after removal. However, as the family’s breadwinner, he was reluctant to continue wearing a urinary bag. To address his concerns, the Team coordinated with the outpatient clinic and ward to allow the patient to stay in the clinic longer than usual for observation. Each time he felt unwell, the Team took follow-up action immediately, and his condition was cured within a fortnight.
									br
									br
									| “You can change a patient’s life if you are willing to go the extra mile,” members of the Team argue. “Urinary catheter insertion has been commonplace, but the inconvenience it causes is often overlooked.” The Team has established a set of Trial Wean-Off Catheter guidelines with streamlined caring procedures, allowing different departments to help suitable patients wean off catheter. “The departments are always busy, but Team members were willing to work on the guidelines and even spent their spare time discussing each case,” the Team members say.
									br
									br
									| Nurse clinics have also been set up by the Team to arrange preliminary investigations, enabling better triage and continuous follow-ups on patients’ needs, with nurses directing their efforts toward the patients they are best able to support. “For example, male patients are more comfortable talking to male nurses about erectile dysfunction, while female nurses can deal with female patients’ incontinence, making it easier for them to build mutual trust,” the Team explains.
									br
									br
									| Breakthrough is not just about deploying the most advanced surgery and services, according to the Team, but finding ways to address each individual patients’ needs and being more persevering even than the patients themselves.
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T1_team.pdf" target="_blank" rel="noopener noreferrer")
										| Team List
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
