<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | A fighter in the frontline of SARS and COVID-19
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 A fighter in the frontline of SARS and COVID-19
								.paragraph
									
								img(src="../images/curiosity-s3-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Chui See-to
									| 
									br
									| Department Operations Manager, Department of Surgery, Prince of Wales Hospital
									br
									br
									| The healthcare workers in the department of surgery are mostly candid personality with a bit curiosity. Through his 36 years of experience in the Department witnessing complex and difficult cases, 
									strong Chui See-to
									|  has learnt that meticulous attention to detail can make a life-saving difference in patient care. On one occasion, a car crash victim was admitted with a head injury and, while giving him a medical check-up and bed bath, Chui noticed his stomach was abnormal. The patient was diagnosed with a liver hemorrhage.
									br
									br
									| Another time, a patient fainted while playing golf and was thought to have suffered from heat stroke. However, Chui noticed he could not speak clearly. The patient was referred for a CT scan which revealed he had suffered from a stroke.
									br
									br
									| “Sometimes, we only focus on the symptoms, and we may not notice the other circumstances of the patient,” Chui reflects. “We should not only look at surgical issues but also medical issues in order to provide appropriate treatment to the patient.”
									br
									br
									| As a Department Operations Manager, Chui believes supervisors should be strict with themselves and tolerant of others. He was hailed as one of the Asian Heroes by Time Magazine when he told colleagues in an admission ward during the SARS crisis, “I cannot guarantee you will be absolutely safe, but I guarantee I will be the last one leaving the ward.”
									br
									br
									| Chui believes in leading by example, and the importance of considering the overall situation. He has been compared by appreciative colleagues to the character Guo Jing from the Legend of the Condor Heroes created by Hong Kong martial arts novelist Jin Yong.
									br
									br
									| Now, 17 years after the SARS outbreak, Chui is helping tackle the COVID-19 epidemic. His surgical ward has received patients infected with the virus and he says, “I give as much support as I can. And if anything goes wrong, I speak out.”
									br
									br
									| His approach is based upon an experience when, as a nursing student, he asked a veteran nurse how he would know if things could be done better. She replied, “ask yourself this: If you were the patient, would you accept this level of nursing care? Then you will know.” Chui treasured that sage advice, took it to his heart, and has passed it to his colleagues through the years.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
