<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Healing a person is more than curing of a disease
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Healing a person is more than curing of a disease
								.paragraph
									
								img(src="../images/empathy-s3-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Dr Chan Ngai-yin
									| 
									br
									| Chief of Service / Consultant (Medicine & Geriatrics),
									br
									| Princess Margaret Hospital / North Lantau Hospital
									br
									br
									| Every doctor has their own aspirations. When Dr 
									strong Chan Ngai-yin
									|  was young, he wanted to be ‘number one’. “I inevitably yearned for personal development in my younger days. I wanted to possess the most exquisite medical skills and perform the most advanced procedure,” says the cardiologist. After many years of consulting countless patients, however, he slows down and finds a new comprehension in the missions of being a doctor. “To heal a person is more than treating their symptoms or curing of their diseases. It is about taking our time to understand our patients, even their families and friends. Only when we walk in the patients’ shoes can find out the core problem.”
									br
									br
									| His understanding comes with many tough lessons when he was young. That was the most ‘dangerous’ stage of being a doctor, “we were over-confident and saw ourselves as know-it-all. You would overlook the basics if you are not humble enough,” Dr Chan explains. “For example, stomachache could be an adverse drug reaction, or a signal of stomach cancer. Only after you have gained enough experience, overcome setbacks like complaints and reprimands, or received sincere gratitude from patients and their family members, you will be motivated to do better.”
									br
									br
									| He stores up a quote from an authoritative figure in cardiology in his heart, ‘Treat every patient as your first.’ Bearing this quote in mind, Dr Chan is more cautious in every consultation. He also pays more attention to the physical and mental needs of patients. For example, there was a patient who had suffered from myocardial infarction. Nine months after undergoing a percutaneous coronary intervention (PCI), he was admitted to the hospital again due to another clogged blood vessel. Then he found that the patient was still smoking one pack of cigarettes a day. “No matter how effective the PCI was, it could not tackle the problem at its roots. What should have been done is to persuade the patient to quit smoking.”
									br
									br
									| Dr Chan also actively promotes health education for patients. “Consultation time is limited in clinics. How can the patients receive adequate health information? Hence, community health education is of crucial importance.” Dr Chan will continue to promote cardiac rehabilitation to minimise the risk of recurrence and mortality rate of cardiac patients.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
