<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Keeping the fire of passion burning when curing child patients
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Keeping the fire of passion burning when curing child patients
								.paragraph
									
								img(src="../images/empathy-s2-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong United Christian Hospital Paediatric & Adolescent Medicine Dermatology Health Care Team
									| 
									br
									| United Christian Hospital
									br
									br
									| “The living environment and the air quality was poor in Kwun Tong, which created an enabling environment for infectious diseases and skin problems transmitted in the community. We wished to take care of the most vulnerable members in the district,” recalls the Team Leader Dr 
									strong David Luk
									| , Consultant of Paediatric & Adolescent Medicine Department of United Christian Hospital (UCH). The original goal of forming the Paediatric & Adolescent Medicine Dermatology Health Care Team was taking care of child patients with skin problems. UCH established the only Birthmark Laser Treatment Centre in Hong Kong 30 years ago and receives paediatric and adolescent referral cases. Patients at the Centre range from 25-week premature babies to adolescents aged up to 18.
									br
									br
									| Skin problems can be varied. Some are very obvious, but some are invisible killers. They could be deteriorated and cause complications at any time, the whole body will be infected as well. For instance, vascular nevi are only some red dots on babies in the early stage, which are not obvious. Parents may not bring the babies for medical consultation at once. “If a vascular nevus develops near the organs like eyes or ears, when it becomes bigger, it will bleed and may be infected,” the Team members explain. “The function of the organs will be affected. It can be life-threatening and may even lead to death.” The Centre thus deployed cutting-edge technology so that babies under the age of one can also undergo laser treatment. 
									br
									br
									| Skin problems do not only affect a child’s appearance. They can leave a profound psychological imprint on them, affect their emotion, sleeping quality, concentration, and even social life. Patients may have inferiority complex or have been isolated, creating a vicious cycle. 
									strong Ma Po-king
									| , Department Operations Manager of Paediatric & Adolescent Medicine Department says, “some young patients refuse to look in the mirror. Some refuse to go to school because they are bullied. Our Team members are therefore not only dealing with illness but interacting with patients’ family members too, letting them know how to look after their children, helping the children re-establish confidence.” 
									br
									br
									| The Team was built from nothing. It is the gathering efforts of generations. Their heart-warming stories also attracted generous donations from different organisations and individuals in the community, allowing them to purchase more medical instruments and arrange professional trainings. Medical professionals join hands with the community in assisting the paediatric patients and their family members, echoing the slogan of the Team: Despite the difficulties, we will get your smile back.
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T7_team.pdf" target="_blank" rel="noopener noreferrer")
										| Team List
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
