<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Healing body and soul
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Healing body and soul
								.paragraph
									
								img(src="../images/empathy-s5-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Kam Yuen-ching
									| 
									br
									| Advanced Practice Nurse (Surgery/Urology Nurse Clinic), Queen Elizabeth Hospital
									br
									br
									| “I think I am a lucky person that I enjoy doing my work!” Being a urology nurse, to 
									strong Kam Yuen-ching
									| , is not only a job but also a life-long interest. She spends her time walking through the journey together with the patients, from pre-operative counseling, operations, discharge, follow-ups and even end-of-life care. Many of the patients are her ‘friends’ with lifelong follow-up in her clinic. “When a patient is making a good progress under my care, and my patients and their families have trust in me, it gives me never-ending motivation to go far and beyond!”
									br
									br
									| Yuen-ching explains that patients who required Percutaneous Nephrostomy (PCN) due to cancer or obstructive uropathy often suffer from catheter related complications such as catheter dislodgment, blockage, and infection, and thus unplanned admissions are common. She shares her most unforgettable experience which happened around three years ago: a female cancer patient who admitted for PCN dislodgement, was depressive and anxious that she suffered from insomnia, and even tried to attempt suicide in the ward. Luckily, she was stopped by a nurse immediately. “I was thinking how much pain she had which made her come up with this idea?” says Yuen-ching, “she told me that she could only sleep when I was back to ward. I realised that she has every trust in me, however, I also felt powerless to help when I saw her suffering because of PCN. From that moment, I decided to do something for this group of patients.” 
									br
									br
									| This incident motivated her to launch the PCN Care Bundle. This is a successful multi-disciplinary programme which includes the introduction of drain-fixation dressings to reduce the risk of blockage and dislodgement, as well as PCN care training and drawing up guidelines. A PCN care nurse clinic was also established to manage PCN patients with emergency conditions, reducing the burden of Accident & Emergency department. After the release of the programme, the unplanned admissions due to PCN complications was reduced by 30%. “I am very grateful that everyone is willing to take an extra step forward to make changes and support the patients wholeheartedly.”  
									br
									br
									| As a mum of two, Yuen-ching confesses that she had once wanted to become a full-time mother. “Eventually, I realised that I don’t want to let go of my patients. Not everyone can find a job that he/she loves and fufils self-value. Therefore, I decided to stay here.” Her passion pushes her to keep improving and remain persistent for good causes.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
