<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Walking in others’ shoes and battling negative energy
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Walking in others’ shoes and battling negative energy
								.paragraph
									
								img(src="../images/empathy-s4-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Wei Bi-juan
									| 
									br
									| Patient Care Assistant II (Medicine), Tung Wah Hospital
									br
									br
									| 
									strong Wei Bi-juan
									|  has been working as a Patient Care Assistant in the Department of Medicine at Tung Wah Hospital since she qualified eight years ago. “The key to this job is to have an empathetic heart-to-heart attitude,” she recalls when she first arrived at the hospital feeling ‘like a blank sheet of paper’, her mentor taught her how to treat patients and work with colleagues. “Being sick is painful, not to mention the elderly people with chronic illnesses, which makes their emotion even worse,” Bi-juan reflects. “Sometimes they use abusive language, but in those cases I talk to them like children and calm them down. After time, they understand we care about them and they become much more peaceful. This works every time.” 
									br
									br
									| When the fifth wave of the epidemic swept Hong Kong, hospital special visiting arrangement was further tightened and some patients were unable to meet with their families for a period of time. “Some patients cried about being abandoned by their families, especially those with dementia who mistakenly thought they had been sent to an elderly home and became depressed,” she explains. “I would go to their bedsides and tell them, ‘your family would never abandon you, but there’s a virus out there, so they can’t visit’. Even if I had to explain it to them many times, I wanted them to know they had not been abandoned.” Later, when some wards were converted to receive COVID-19 patients, Bi-juan found herself on the frontline of the battle against the epidemic, putting on personal protective equipment to care for patients and helping them to arrange phone or video call with their family members.
									br
									br
									| Bi-juan now also takes part in the training of new patient care assistants so that they can become effective as quickly as possible. She understands that new employees sometimes feel stressed and anxious because of their long shifts and heavy workload, particularly when they have to deal with the collection and transportation of patients who have passed away.
									br
									br
									| “I was also scared when I first had to handle bodies, but I would always remind myself that healthcare is a very meaningful job. I tell the newcomers to imagine that the patient is not dead but just asleep. As long as they have the heart to do good deeds, they can overcome the psychological barriers. I also demonstrate the whole process to them first.” Bi-juan has walked the same road as her new colleagues and encountered the same challenges. This gives her a unique ability to gently guide them on their journey, understanding their needs and passing on her invaluable knowledge gained through years of dedicated care.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
