<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | The tertiary rehab centre helping patients regain the joy of family life
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 The tertiary rehab centre helping patients regain the joy of family life
								.paragraph
									
								img(src="../images/empathy-s1-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Community Rehabilitation Service Support Centre, Hospital Authority
									| 
									br
									| Queen Elizabeth Hospital
									br
									br
									| Trivial matters such as eating and drinking are more than what disabled or paralysed patients can hope for. The Community Rehabilitation Service Support Centre (CRSSC), Hospital Authority has been established for six years as the tertiary centre of rehabilitation services. Driven by their empathy embedded in the innovative design and modification of devices, the interdisciplinary team of CRSSC helps countless patients return to their daily lives with advanced technology. “We really cherish every case referred to us. The referred patients must have their unresolved difficulties. When they take one step forward, we should take several steps in response.”
									br
									br
									| CRSSC receives referrals of disabled clients with special needs from professionals in HA hospitals. Team members share that clinical applications of advanced technology were not very common in local services, so they took the initiative and visited various hospitals and departments to introduce CRSSC’s services. Engineers of the Team also paid home visits to better understand patients’ actual needs. “We tried to walk in the patients’ shoes and experience their difficulties by tying up our hands. This is crucial to examine the effectiveness of the devices.”
									br
									br
									| The devices designed and modified by the Team help bring joy back to patients’ life. Muscular dystrophy is a common condition in their cases. For example, a lady could not raise her arms despite her good finger dexterity. The problem was settled with a robotic arm modified by the Team. “She could not stop crying while she could finally take selfies,” says the Team. In another case, a 50-year-old man could only eat at a small coffee table with his head down for years, so his family usually have meals with him sitting on the floor together. “He was then supported with a robotic eater, and even went to yum cha with his family on the next day.”
									br
									br
									| “In the past, patients like them still struggled in daily life after discharge. It turns out that a tailor-fitting dining device or a modified wheelchair can already solve these long-standing issues.” The Team plans to promote advanced technology in the future and introduce trial applications of commonly used devices to hospitals, benefiting more patients.
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T3_team.pdf" target="_blank" rel="noopener noreferrer")
										| Team List
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
