<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Keep learning to contribute as much as possible
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Keep learning to contribute as much as possible
								.paragraph
									
								img(src="../images/persistence-s3-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Alex Lai Ming-hong
									| 
									br
									| Clerk II (Quality & Standards), Hospital Authority Head Office
									br
									br
									| “Although I am not a healthcare professional, I dedicate myself to providing wholehearted support to my teammates across HA with an aim to serve patients and members of the public ultimately,” says 
									strong Alex Lai Ming-hong
									| .
									br
									br
									| Alex has been serving in HA for more than 27 years. Throughout the years, he has participated in various services and initiatives of HA. He was a filing clerk in the Human Resources Department of Castle Peak Hospital in 1994. Later, he took part in an enhanced productivity programme and studied a computer course for being deployed to the newly established Information Technology Department. 
									br
									br
									| In a successful team, every single position is important. Understanding that what he does in the background ultimately helps patients, Alex is consistently picking up new skills and knowledge to make him an invaluable member of the team.  
									br
									br
									| Alex has been working as a Clerk II of Quality and Safety Division in HAHO since 2015. Alex plays an important role in supporting the Coordinating Committees (COC) of two specialties, namely Surgery and Neurosurgery. It took a while for Alex to get familiar with the structure of COCs and the nature of clerical work, but each learning equipped him well for the next challenge. In order to facilitate the preparation of statistic reports, he worked hard to learn how to use information system and software, which significantly broadened his job knowledge. He has also maintained a very good record keeping system for timely retrieval of archived information. His IT expertise has been proven an asset, and he is willing to share his skills and experience with his colleagues. 
									br
									br
									| Alex lives up to his motto ‘diligence as always, learning as usual’, and the selfless spirit inspired by the book Over-Bargaining Is the Beginning to Be Poor (《計較，是貧窮的開始》). In an ad-hoc event of packing over 10,000 sets of test kits during the epidemic, Alex appreciated being involved to work together with both HAHO and hospital colleagues towards a single vision of contributing to the community. Despite the short time limit, the power of unity could bring the team to a further mile, he reflects.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
