<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | “There is nothing to fear if you have enough experience.”
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 “There is nothing to fear if you have enough experience.”
								.paragraph
									
								img(src="../images/persistence-s1-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Hospital Authority Infectious Disease Centre
									| 
									br
									| Princess Margaret Hospital
									br
									br
									| When the swine flu outbreak swept Hong Kong in 2009, the team at the Hospital Authority Infection Disease Centre (IDC) – set up just two years earlier – thought it was facing one of its greatest single challenges. However, an even more momentous challenge came a decade later as COVID-19 ravaged the world in 2020. Fortunately, with their experience of past crises, Team members worked together to face the impact of the epidemic. Well-equipped, united, and mentally prepared, their attitude was, “there is nothing to fear if you have enough experience.”
									br
									br
									| The IDC was set up in the aftermath of SARS which many people at the time thought was a unique, once-in-a-lifetime outbreak. But SARS was followed by outbreaks of avian flu, swine flu, MERS, as well as suspected Ebola Virus Infection, leaving the IDC Team understanding it was crucial to always be prepared.
									br
									br
									| Assistance was sought by the IDC to shore up its limited manpower during the COVID-19, and Team members found colleagues from the Department of Paediatrics integrated seamlessly and worked alongside them effectively to confront the outbreak. A Team member of the IDC Team explains, “the interaction between colleagues from different departments was outstanding, and the mix of skills enabled us all to better care for our patients.”
									br
									br
									| Sharing new information is critical when battling a new infectious disease. During the COVID-19 outbreak, for instance, some paediatric patients suffered from Multisystem Inflammatory Syndrome in Children (MIS-C) after recovering from the virus. The IDC lined up overseas experts to discuss the situation with the paediatric departments of every public hospital in Hong Kong, and a video of the virtual meeting widely shared online, achieved the purpose of sharing of clinical knowledge to local and overseas doctors. They also published many scientific papers in international medical journals.
									br
									br
									| Dealing with infectious diseases is a never-ending battle, and IDC Team members regard it is of fundamental importance to pass on not only vital information but also an irrepressible fighting spirit to Team members. “Even if a colleague moves on and takes up a new role outside the IDC, we feel happy so long as they continue to serve Hong Kong people with their heart and spirit,” the Team members say.
									br
									br
									a(href="https://www3.ha.org.hk/ehaslink/issue120/list/T4_team.pdf" target="_blank" rel="noopener noreferrer")
										| Team List
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
