<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Thank you for being here
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Thank you for being here
								.paragraph
									
								img(src="../images/persistence-s2-1.jpg" alt="").normal.center.full
								.paragraph
									| 
									strong Isadora Wong
									| 
									br
									| General Manager (Nursing)
									br
									| The Duchess of Kent Children’s Hospital at Sandy Bay / TWGHs Fung Yiu King Hospital / MacLehose Medical Rehabilitation Centre
									br
									br
									| 
									strong Isadora Wong Lai-ching
									|  has just retired from The Duchess of Kent Children’s Hospital at Sandy Bay (DKCH), where she has worked for more than 40 years. She talks about the origin of the blue sky with white cloud pattern on the hospital wall. “Originally, it was a white wall, but colleagues sitting opposite complained the reflection irritated their eyes. So, I asked the renovation worker to paint the wall to solve colleagues’ problem and make it more energetic. When I look back, I realise that my job was to solve problems and tackle difficulties step by step. When encountering any problems, people would ask ‘Ms Wong’ for help. I would listen to them like what I did to the children in the past.”
									br
									br
									| Everything can be traced back to the time Isadora spent with paediatric patients. She left her footprint in DKCH for the first time as a registered nurse in 1979, which was designated for providing treatment for children with tuberculosis and scoliosis. “Most paediatric patients stayed in the hospital for three to six months. We were just like a family.” She also tutored kids. “Children were studying in the Red Cross School in the hospital. We hoped they could transfer to the Hong Kong Red Cross John F. Kennedy Centre, so tutoring was necessary. It was like ‘raising up’ our own children.”
									br
									br
									| There was once a patient with quadriplegic, who could only type and learn with his facial muscles through mechanical equipment. “Our team prepared a special wheelchair and a 24-hour connected ventilator for him to go to school. His blood pressure accelerated sharply before exams, so nurses would assist him to calm down, give him medicine and tutor him. Later on he completed the distance learning programme in Finance at the Open University of Hong Kong (now known as Hong Kong Metropolitan University). He even learnt how to speculate in stocks as well!” The nurse taking a concurrent role as tutor has become a tradition to date.
									br
									br
									| As the immunity of paediatric patients is especially weak,
									br
									| infection control is a main concern. Isadora has taken many infection control courses since 1988. “I have drafted emergency plans on isolation and patient transfer during SARS. During the outbreak of parainfluenza in 2007, I suggested implementing admission screening as many patients required a ventilator to sustain their lives.” 
									br
									br
									| Isadora spends her spare time volunteering. Recently, she also assists in the preparation of Community Vaccination Centre, contributing her experiences in helping those in need. Her second life is just unfolding.
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
