<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title HASLink 協力 | Editorial Board
	style(type="text/css").
		[v-cloak] {
			display: none;
		}
	body
		#app(v-cloak)
			include ../module/header.pug
			section
				.main.container
					.d-flex
						.content
							.passage
								
								h1 Editorial Board
								.paragraph
									| Frankie Yip
									br
									| Michael Choi
									br
									| Mabel Kwong
									br
									| Vivien Chuang
									br
									| Jessica Lam
									br
									| Cecilia Hui
									br
									| Assunta Lee
									br
									| Calvin Au
									br
									| Karen Ling
									br
									| Sharon Lo
									br
									| Michelle Pang
									br
									| Maggie Tam
									br
									| Stephanie Yeung
									br
									| 
							share.sharing-passage(lang="en")
							counter(lang="en")
						include ../module/catalog.pug
			include ../module/footer.pug
