.catalog
  .part(v-for="(item, i) in content" v-if="item.page.length > 0")
    .title {{ item[lang + '_title'] }}
    ul
      li(v-for="(page, j) in item.page")
        a(:href="item.prefix + (j + 1) + '.html'" v-html="page[lang + '_name']") 
