footer.container(v-if="lang == 'en'")
  ul
    li
      | Copyright © {{ year }} Hospital Authority. All rights reserved.
    li
      a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=200019&Lang=ENG&Dimension=100&Parent_ID=201607&Ver=HTML" target="_blank" rel="noopener noreferrer") Copyright
    li
      a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=200020&Lang=ENG&Dimension=100&Parent_ID=201607&Ver=HTML" target="_blank" rel="noopener noreferrer") Privacy Policy
    li
      a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=215136&Lang=ENG&Dimension=100&Parent_ID=201607&Ver=HTML" target="_blank" rel="noopener noreferrer") Linking Policy
    li
    li
      a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=200018&Lang=ENG&Dimension=100&Parent_ID=201607&Ver=HTML" target="_blank" rel="noopener noreferrer") Disclaimer
    li
      a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=200017&Lang=ENG&Dimension=100&Parent_ID=201607&Ver=HTML" target="_blank" rel="noopener noreferrer") Terms of Use
footer.container(v-else)
  ul
    li
      | © {{ year }} 醫院管理局。版權所有。
    li
      a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=200019&Lang=CHIB5&Dimension=100&Ver=HTML" target="_blank" rel="noopener noreferrer") 版權告示
    li
      a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=200020&Lang=CHIB5&Dimension=100&Ver=HTML" target="_blank" rel="noopener noreferrer") 私隱政策
    li
      a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=215136&Lang=CHIB5&Dimension=100&Parent_ID=201607&Ver=HTML" target="_blank" rel="noopener noreferrer") 連結政策
    li
    li
      a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=200018&Lang=CHIB5&Dimension=100&Ver=HTML" target="_blank" rel="noopener noreferrer") 免責聲明
    li
      a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=200017&Lang=CHIB5&Dimension=100&Ver=HTML" target="_blank" rel="noopener noreferrer") 使用條款
