header
  .container
    .d-flex.justify-content-between.align-items-center
      a(href="index.html").logo.background-contain
      .control.d-flex.flex-column.justify-content-between
        a(:href="(lang == 'en') ? 'https://www.ha.org.hk/visitor/ha_index.asp?Content_ID=0&Lang=ENG&Dimension=100&Ver=HTML' : 'https://www.ha.org.hk/visitor/ha_index.asp?Content_ID=0&Lang=CHIB5&Dimension=100&Ver=HTML'" target="blank").ha-logo.background-contain
        .d-flex.justify-content-between.align-items-center
          .font-btn-group
            div(@click="onChangeFont(0)" :class="{active: font_size == 0}") A
            div(@click="onChangeFont(1)" :class="{active: font_size == 1}") A
            div(@click="onChangeFont(2)" :class="{active: font_size == 2}") A
          .lang-btn-group
            a(:href="'../tc/' + page") 繁
            a(:href="'../en/' + page") EN
        a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=10210&Lang=ENG&Dimension=100&Parent_ID=10165&Ver=HTML" target="_blank" rel="noopener noreferrer" v-if="lang == 'en'").previous-issue Previous Issues
        a(href="https://www.ha.org.hk/visitor/ha_visitor_index.asp?Content_ID=10210&Lang=CHIB5&Dimension=100&Parent_ID=10165&Ver=HTML" target="_blank" rel="noopener noreferrer" v-else).previous-issue 過去期數
nav.container-fluid
  .container
    .row.justify-content-between.align-items-center
      .mobile-content-btn.align-items-center(@click="mobile_nav = !mobile_nav")
        .mobile-content-icon.background-contain
        span(v-if="lang == 'en'")
          | CONTENT
        span(v-else)
          | 目錄
      ul(v-if="mobile_nav")
        li(v-for="(item, i) in content" v-if="item.page.length > 0")
          div
            div.d-flex.justify-content-between.align-items-center(@click="onClickMenu(item, i)")
              | {{ item[lang + '_title'] }}
              .list-arrow.background-contain(:class="{active: item.show}")
            ul.dropdown(v-if="item.show")
              li(v-for="(page, j) in item.page")
                a(:href="item.prefix + (j + 1) + '.html'" v-html="page[lang + '_name']")
      .d-flex.align-items-center
        .issue {{ issue }}
.top-btn.d-flex.justify-content-center.align-items-center(v-if="top" @click="onScrollToTop")
  .top-icon.background-contain
  span(v-if="lang == 'en'")
    | TOP
  span(v-else)
    | 返回頂部
  
modal(:image="image" :info="info" :modal="modal" v-show="modal" v-on:close="onCloseModal")
