.side.d-flex.flex-column.justify-content-between
  a.part(v-for="(item, i) in side" :href="item.link")
    .background-cover(:style="{ backgroundImage: 'url(../images/' + item.image + ')'}"  :class="{'background-size-top': item.bg_size == 'top'}")
    .title {{ item[lang + '_title'] }}
